* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: black;
  color: #fff;
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

input {
  display: none;
}

.list {
  text-align: center;
}
.list-item {
  margin: 0.5em;
  font-size: 1.25em;
}
.list-item a {
  text-decoration: none;
}

.link {
  text-transform: uppercase;
  color: #2F8621;
}

.game-field-text {
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  font-weight: 900;
  font-size: 1.5rem;
}
.game-field-color {
  color: #9E2730;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.cell, .game-field {
  border: 1.3333333333vmin solid #000;
}

.game-field {
  display: flex;
  width: 82.6666666667vmin;
  flex-wrap: wrap;
}

.cell {
  max-height: 26.6666666667vmin;
  max-width: 26.6666666667vmin;
  overflow: hidden;
}
.cell-bg {
  display: block;
  position: relative;
  height: 24vmin;
  width: 24vmin;
  background: repeating-linear-gradient(#9E2730 0, #9E2730 26.6666666667vmin, #2F8621 26.6666666667vmin, #2F8621 53.3333333333vmin);
  background-size: 26.6666666667vmin 240vmin;
  background-position-x: 0;
}

@keyframes colorize {
  to {
    background-position: 200% center;
  }
}
@keyframes move {
  0% {
    transform: translate(-50%, -50%);
  }
  25% {
    transform: translate(-50%, -25%);
  }
  50% {
    transform: translate(-50%, -50%);
  }
  75% {
    transform: translate(-50%, -75%);
  }
  100% {
    transform: translate(-50%, -50%);
  }
}
.win {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 5rem;
  text-transform: uppercase;
  font-weight: 900;
  user-select: none;
  background-image: linear-gradient(-90deg, #FF0018 0%, #FFA52C 20%, #FFFF41 40%, #008018 60%, #0000F9 80%, #86007D 100%);
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: colorize 2s linear infinite, move 2s linear infinite;
}

#cb1:checked ~ #cb2:checked ~ #cb3:checked ~ #cb4:checked ~ #cb5:checked ~ #cb6:checked ~ #cb7:checked ~ #cb8:checked ~ #cb9:checked ~ .win {
  display: inline-block;
}

#cb1:checked ~ #cb2:checked ~ #cb3:checked ~ #cb4:checked ~ #cb5:checked ~ #cb6:checked ~ #cb7:checked ~ #cb8:checked ~ #cb9:checked ~ .game-field {
  pointer-events: none;
}

#cb1:not(:checked) ~ .game-field #s1 {
  --from-1-to-1: 26.6666666667vmin;
}

#cb1:checked ~ .game-field #s1 {
  --from-1-to-1: 0%;
}

#cb1:not(:checked) ~ .game-field #s4 {
  --from-1-to-4: 26.6666666667vmin;
}

#cb1:checked ~ .game-field #s4 {
  --from-1-to-4: 0%;
}

#cb1:not(:checked) ~ .game-field #s8 {
  --from-1-to-8: 26.6666666667vmin;
}

#cb1:checked ~ .game-field #s8 {
  --from-1-to-8: 0%;
}

#cb2:not(:checked) ~ .game-field #s2 {
  --from-2-to-2: 26.6666666667vmin;
}

#cb2:checked ~ .game-field #s2 {
  --from-2-to-2: 0%;
}

#cb2:not(:checked) ~ .game-field #s6 {
  --from-2-to-6: 26.6666666667vmin;
}

#cb2:checked ~ .game-field #s6 {
  --from-2-to-6: 0%;
}

#cb2:not(:checked) ~ .game-field #s4 {
  --from-2-to-4: 26.6666666667vmin;
}

#cb2:checked ~ .game-field #s4 {
  --from-2-to-4: 0%;
}

#cb3:not(:checked) ~ .game-field #s3 {
  --from-3-to-3: 26.6666666667vmin;
}

#cb3:checked ~ .game-field #s3 {
  --from-3-to-3: 0%;
}

#cb3:not(:checked) ~ .game-field #s9 {
  --from-3-to-9: 26.6666666667vmin;
}

#cb3:checked ~ .game-field #s9 {
  --from-3-to-9: 0%;
}

#cb3:not(:checked) ~ .game-field #s6 {
  --from-3-to-6: 26.6666666667vmin;
}

#cb3:checked ~ .game-field #s6 {
  --from-3-to-6: 0%;
}

#cb4:not(:checked) ~ .game-field #s4 {
  --from-4-to-4: 26.6666666667vmin;
}

#cb4:checked ~ .game-field #s4 {
  --from-4-to-4: 0%;
}

#cb4:not(:checked) ~ .game-field #s8 {
  --from-4-to-8: 26.6666666667vmin;
}

#cb4:checked ~ .game-field #s8 {
  --from-4-to-8: 0%;
}

#cb4:not(:checked) ~ .game-field #s2 {
  --from-4-to-2: 26.6666666667vmin;
}

#cb4:checked ~ .game-field #s2 {
  --from-4-to-2: 0%;
}

#cb5:not(:checked) ~ .game-field #s5 {
  --from-5-to-5: 26.6666666667vmin;
}

#cb5:checked ~ .game-field #s5 {
  --from-5-to-5: 0%;
}

#cb5:not(:checked) ~ .game-field #s4 {
  --from-5-to-4: 26.6666666667vmin;
}

#cb5:checked ~ .game-field #s4 {
  --from-5-to-4: 0%;
}

#cb6:not(:checked) ~ .game-field #s6 {
  --from-6-to-6: 26.6666666667vmin;
}

#cb6:checked ~ .game-field #s6 {
  --from-6-to-6: 0%;
}

#cb6:not(:checked) ~ .game-field #s5 {
  --from-6-to-5: 26.6666666667vmin;
}

#cb6:checked ~ .game-field #s5 {
  --from-6-to-5: 0%;
}

#cb6:not(:checked) ~ .game-field #s8 {
  --from-6-to-8: 26.6666666667vmin;
}

#cb6:checked ~ .game-field #s8 {
  --from-6-to-8: 0%;
}

#cb7:not(:checked) ~ .game-field #s7 {
  --from-7-to-7: 26.6666666667vmin;
}

#cb7:checked ~ .game-field #s7 {
  --from-7-to-7: 0%;
}

#cb7:not(:checked) ~ .game-field #s2 {
  --from-7-to-2: 26.6666666667vmin;
}

#cb7:checked ~ .game-field #s2 {
  --from-7-to-2: 0%;
}

#cb7:not(:checked) ~ .game-field #s6 {
  --from-7-to-6: 26.6666666667vmin;
}

#cb7:checked ~ .game-field #s6 {
  --from-7-to-6: 0%;
}

#cb8:not(:checked) ~ .game-field #s8 {
  --from-8-to-8: 26.6666666667vmin;
}

#cb8:checked ~ .game-field #s8 {
  --from-8-to-8: 0%;
}

#cb8:not(:checked) ~ .game-field #s9 {
  --from-8-to-9: 26.6666666667vmin;
}

#cb8:checked ~ .game-field #s9 {
  --from-8-to-9: 0%;
}

#cb8:not(:checked) ~ .game-field #s5 {
  --from-8-to-5: 26.6666666667vmin;
}

#cb8:checked ~ .game-field #s5 {
  --from-8-to-5: 0%;
}

#cb9:not(:checked) ~ .game-field #s9 {
  --from-9-to-9: 26.6666666667vmin;
}

#cb9:checked ~ .game-field #s9 {
  --from-9-to-9: 0%;
}

#cb9:not(:checked) ~ .game-field #s3 {
  --from-9-to-3: 26.6666666667vmin;
}

#cb9:checked ~ .game-field #s3 {
  --from-9-to-3: 0%;
}

#s1 {
  background-position-y: calc( 26.6666666667vmin + var(--from-1-to-1) );
}

#s2 {
  background-position-y: calc( 26.6666666667vmin + var(--from-2-to-2) + var(--from-4-to-2) + var(--from-7-to-2) );
}

#s3 {
  background-position-y: calc( 26.6666666667vmin + var(--from-3-to-3) + var(--from-9-to-3) );
}

#s4 {
  background-position-y: calc( 26.6666666667vmin + var(--from-4-to-4) + var(--from-1-to-4) + var(--from-2-to-4) + var(--from-5-to-4) );
}

#s5 {
  background-position-y: calc( 26.6666666667vmin + var(--from-5-to-5) + var(--from-6-to-5) + var(--from-8-to-5) );
}

#s6 {
  background-position-y: calc( 26.6666666667vmin + var(--from-6-to-6) + var(--from-2-to-6) + var(--from-3-to-6) + var(--from-7-to-6) );
}

#s7 {
  background-position-y: calc( 26.6666666667vmin + var(--from-7-to-7) );
}

#s8 {
  background-position-y: calc( 26.6666666667vmin + var(--from-8-to-8) + var(--from-1-to-8) + var(--from-4-to-8) + var(--from-6-to-8) );
}

#s9 {
  background-position-y: calc( 26.6666666667vmin + var(--from-9-to-9) + var(--from-3-to-9) + var(--from-8-to-9) );
}