* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: black;
  color: #fff;
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

input {
  display: none;
}

.list {
  text-align: center;
}
.list-item {
  margin: 0.5em;
  font-size: 1.25em;
}
.list-item a {
  text-decoration: none;
}

.link {
  text-transform: uppercase;
  color: #2F8621;
}

.game-field-text {
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  font-weight: 900;
  font-size: 1.5rem;
}
.game-field-color {
  color: #9E2730;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.cell, .game-field {
  border: 0.8vmin solid #000;
}

.game-field {
  display: flex;
  width: 81.6vmin;
  flex-wrap: wrap;
}

.cell {
  max-height: 16vmin;
  max-width: 16vmin;
  overflow: hidden;
}
.cell-bg {
  display: block;
  position: relative;
  height: 14.4vmin;
  width: 14.4vmin;
  background: repeating-linear-gradient(#9E2730 0, #9E2730 16vmin, #2F8621 16vmin, #2F8621 32vmin);
  background-size: 16vmin 400vmin;
  background-position-x: 0;
}

/*
  we set same --from-CURRENT-to-CURRENT - the problem of scope!
  to cell's label
  and to win rule
*/
#cb1:not(:checked) ~ .scope {
  --from-1-to-1-inverted: 1;
}

#cb1:checked ~ .scope {
  --from-1-to-1-inverted: 0;
}

/*
  do the same for all linked cell
*/
#cb1:not(:checked) ~ .scope {
  --from-1-to-15-inverted: 1;
}

#cb1:checked ~ .scope {
  --from-1-to-15-inverted: 0;
}

#cb1:not(:checked) ~ .scope {
  --from-1-to-24-inverted: 1;
}

#cb1:checked ~ .scope {
  --from-1-to-24-inverted: 0;
}

#cb1:not(:checked) ~ .scope {
  --from-1-to-12-inverted: 1;
}

#cb1:checked ~ .scope {
  --from-1-to-12-inverted: 0;
}

/*
  we set same --from-CURRENT-to-CURRENT - the problem of scope!
  to cell's label
  and to win rule
*/
#cb2:not(:checked) ~ .scope {
  --from-2-to-2-inverted: 1;
}

#cb2:checked ~ .scope {
  --from-2-to-2-inverted: 0;
}

/*
  do the same for all linked cell
*/
#cb2:not(:checked) ~ .scope {
  --from-2-to-18-inverted: 1;
}

#cb2:checked ~ .scope {
  --from-2-to-18-inverted: 0;
}

#cb2:not(:checked) ~ .scope {
  --from-2-to-25-inverted: 1;
}

#cb2:checked ~ .scope {
  --from-2-to-25-inverted: 0;
}

/*
  we set same --from-CURRENT-to-CURRENT - the problem of scope!
  to cell's label
  and to win rule
*/
#cb3:not(:checked) ~ .scope {
  --from-3-to-3-inverted: 1;
}

#cb3:checked ~ .scope {
  --from-3-to-3-inverted: 0;
}

/*
  do the same for all linked cell
*/
#cb3:not(:checked) ~ .scope {
  --from-3-to-15-inverted: 1;
}

#cb3:checked ~ .scope {
  --from-3-to-15-inverted: 0;
}

/*
  we set same --from-CURRENT-to-CURRENT - the problem of scope!
  to cell's label
  and to win rule
*/
#cb4:not(:checked) ~ .scope {
  --from-4-to-4-inverted: 1;
}

#cb4:checked ~ .scope {
  --from-4-to-4-inverted: 0;
}

/*
  do the same for all linked cell
*/
#cb4:not(:checked) ~ .scope {
  --from-4-to-20-inverted: 1;
}

#cb4:checked ~ .scope {
  --from-4-to-20-inverted: 0;
}

#cb4:not(:checked) ~ .scope {
  --from-4-to-15-inverted: 1;
}

#cb4:checked ~ .scope {
  --from-4-to-15-inverted: 0;
}

#cb4:not(:checked) ~ .scope {
  --from-4-to-25-inverted: 1;
}

#cb4:checked ~ .scope {
  --from-4-to-25-inverted: 0;
}

#cb4:not(:checked) ~ .scope {
  --from-4-to-22-inverted: 1;
}

#cb4:checked ~ .scope {
  --from-4-to-22-inverted: 0;
}

/*
  we set same --from-CURRENT-to-CURRENT - the problem of scope!
  to cell's label
  and to win rule
*/
#cb5:not(:checked) ~ .scope {
  --from-5-to-5-inverted: 1;
}

#cb5:checked ~ .scope {
  --from-5-to-5-inverted: 0;
}

/*
  do the same for all linked cell
*/
#cb5:not(:checked) ~ .scope {
  --from-5-to-8-inverted: 1;
}

#cb5:checked ~ .scope {
  --from-5-to-8-inverted: 0;
}

/*
  we set same --from-CURRENT-to-CURRENT - the problem of scope!
  to cell's label
  and to win rule
*/
#cb6:not(:checked) ~ .scope {
  --from-6-to-6-inverted: 1;
}

#cb6:checked ~ .scope {
  --from-6-to-6-inverted: 0;
}

/*
  do the same for all linked cell
*/
#cb6:not(:checked) ~ .scope {
  --from-6-to-17-inverted: 1;
}

#cb6:checked ~ .scope {
  --from-6-to-17-inverted: 0;
}

#cb6:not(:checked) ~ .scope {
  --from-6-to-25-inverted: 1;
}

#cb6:checked ~ .scope {
  --from-6-to-25-inverted: 0;
}

#cb6:not(:checked) ~ .scope {
  --from-6-to-11-inverted: 1;
}

#cb6:checked ~ .scope {
  --from-6-to-11-inverted: 0;
}

/*
  we set same --from-CURRENT-to-CURRENT - the problem of scope!
  to cell's label
  and to win rule
*/
#cb7:not(:checked) ~ .scope {
  --from-7-to-7-inverted: 1;
}

#cb7:checked ~ .scope {
  --from-7-to-7-inverted: 0;
}

/*
  do the same for all linked cell
*/
#cb7:not(:checked) ~ .scope {
  --from-7-to-17-inverted: 1;
}

#cb7:checked ~ .scope {
  --from-7-to-17-inverted: 0;
}

/*
  we set same --from-CURRENT-to-CURRENT - the problem of scope!
  to cell's label
  and to win rule
*/
#cb8:not(:checked) ~ .scope {
  --from-8-to-8-inverted: 1;
}

#cb8:checked ~ .scope {
  --from-8-to-8-inverted: 0;
}

/*
  do the same for all linked cell
*/
#cb8:not(:checked) ~ .scope {
  --from-8-to-21-inverted: 1;
}

#cb8:checked ~ .scope {
  --from-8-to-21-inverted: 0;
}

#cb8:not(:checked) ~ .scope {
  --from-8-to-12-inverted: 1;
}

#cb8:checked ~ .scope {
  --from-8-to-12-inverted: 0;
}

#cb8:not(:checked) ~ .scope {
  --from-8-to-25-inverted: 1;
}

#cb8:checked ~ .scope {
  --from-8-to-25-inverted: 0;
}

#cb8:not(:checked) ~ .scope {
  --from-8-to-20-inverted: 1;
}

#cb8:checked ~ .scope {
  --from-8-to-20-inverted: 0;
}

/*
  we set same --from-CURRENT-to-CURRENT - the problem of scope!
  to cell's label
  and to win rule
*/
#cb9:not(:checked) ~ .scope {
  --from-9-to-9-inverted: 1;
}

#cb9:checked ~ .scope {
  --from-9-to-9-inverted: 0;
}

/*
  do the same for all linked cell
*/
#cb9:not(:checked) ~ .scope {
  --from-9-to-24-inverted: 1;
}

#cb9:checked ~ .scope {
  --from-9-to-24-inverted: 0;
}

#cb9:not(:checked) ~ .scope {
  --from-9-to-21-inverted: 1;
}

#cb9:checked ~ .scope {
  --from-9-to-21-inverted: 0;
}

#cb9:not(:checked) ~ .scope {
  --from-9-to-23-inverted: 1;
}

#cb9:checked ~ .scope {
  --from-9-to-23-inverted: 0;
}

#cb9:not(:checked) ~ .scope {
  --from-9-to-3-inverted: 1;
}

#cb9:checked ~ .scope {
  --from-9-to-3-inverted: 0;
}

/*
  we set same --from-CURRENT-to-CURRENT - the problem of scope!
  to cell's label
  and to win rule
*/
#cb10:not(:checked) ~ .scope {
  --from-10-to-10-inverted: 1;
}

#cb10:checked ~ .scope {
  --from-10-to-10-inverted: 0;
}

/*
  do the same for all linked cell
*/
#cb10:not(:checked) ~ .scope {
  --from-10-to-3-inverted: 1;
}

#cb10:checked ~ .scope {
  --from-10-to-3-inverted: 0;
}

/*
  we set same --from-CURRENT-to-CURRENT - the problem of scope!
  to cell's label
  and to win rule
*/
#cb11:not(:checked) ~ .scope {
  --from-11-to-11-inverted: 1;
}

#cb11:checked ~ .scope {
  --from-11-to-11-inverted: 0;
}

/*
  do the same for all linked cell
*/
#cb11:not(:checked) ~ .scope {
  --from-11-to-16-inverted: 1;
}

#cb11:checked ~ .scope {
  --from-11-to-16-inverted: 0;
}

#cb11:not(:checked) ~ .scope {
  --from-11-to-25-inverted: 1;
}

#cb11:checked ~ .scope {
  --from-11-to-25-inverted: 0;
}

#cb11:not(:checked) ~ .scope {
  --from-11-to-10-inverted: 1;
}

#cb11:checked ~ .scope {
  --from-11-to-10-inverted: 0;
}

/*
  we set same --from-CURRENT-to-CURRENT - the problem of scope!
  to cell's label
  and to win rule
*/
#cb12:not(:checked) ~ .scope {
  --from-12-to-12-inverted: 1;
}

#cb12:checked ~ .scope {
  --from-12-to-12-inverted: 0;
}

/*
  do the same for all linked cell
*/
#cb12:not(:checked) ~ .scope {
  --from-12-to-9-inverted: 1;
}

#cb12:checked ~ .scope {
  --from-12-to-9-inverted: 0;
}

#cb12:not(:checked) ~ .scope {
  --from-12-to-6-inverted: 1;
}

#cb12:checked ~ .scope {
  --from-12-to-6-inverted: 0;
}

#cb12:not(:checked) ~ .scope {
  --from-12-to-3-inverted: 1;
}

#cb12:checked ~ .scope {
  --from-12-to-3-inverted: 0;
}

#cb12:not(:checked) ~ .scope {
  --from-12-to-24-inverted: 1;
}

#cb12:checked ~ .scope {
  --from-12-to-24-inverted: 0;
}

/*
  we set same --from-CURRENT-to-CURRENT - the problem of scope!
  to cell's label
  and to win rule
*/
#cb13:not(:checked) ~ .scope {
  --from-13-to-13-inverted: 1;
}

#cb13:checked ~ .scope {
  --from-13-to-13-inverted: 0;
}

/*
  do the same for all linked cell
*/
#cb13:not(:checked) ~ .scope {
  --from-13-to-6-inverted: 1;
}

#cb13:checked ~ .scope {
  --from-13-to-6-inverted: 0;
}

#cb13:not(:checked) ~ .scope {
  --from-13-to-20-inverted: 1;
}

#cb13:checked ~ .scope {
  --from-13-to-20-inverted: 0;
}

/*
  we set same --from-CURRENT-to-CURRENT - the problem of scope!
  to cell's label
  and to win rule
*/
#cb14:not(:checked) ~ .scope {
  --from-14-to-14-inverted: 1;
}

#cb14:checked ~ .scope {
  --from-14-to-14-inverted: 0;
}

/*
  do the same for all linked cell
*/
#cb14:not(:checked) ~ .scope {
  --from-14-to-24-inverted: 1;
}

#cb14:checked ~ .scope {
  --from-14-to-24-inverted: 0;
}

#cb14:not(:checked) ~ .scope {
  --from-14-to-16-inverted: 1;
}

#cb14:checked ~ .scope {
  --from-14-to-16-inverted: 0;
}

/*
  we set same --from-CURRENT-to-CURRENT - the problem of scope!
  to cell's label
  and to win rule
*/
#cb15:not(:checked) ~ .scope {
  --from-15-to-15-inverted: 1;
}

#cb15:checked ~ .scope {
  --from-15-to-15-inverted: 0;
}

/*
  do the same for all linked cell
*/
#cb15:not(:checked) ~ .scope {
  --from-15-to-22-inverted: 1;
}

#cb15:checked ~ .scope {
  --from-15-to-22-inverted: 0;
}

#cb15:not(:checked) ~ .scope {
  --from-15-to-14-inverted: 1;
}

#cb15:checked ~ .scope {
  --from-15-to-14-inverted: 0;
}

/*
  we set same --from-CURRENT-to-CURRENT - the problem of scope!
  to cell's label
  and to win rule
*/
#cb16:not(:checked) ~ .scope {
  --from-16-to-16-inverted: 1;
}

#cb16:checked ~ .scope {
  --from-16-to-16-inverted: 0;
}

/*
  do the same for all linked cell
*/
#cb16:not(:checked) ~ .scope {
  --from-16-to-11-inverted: 1;
}

#cb16:checked ~ .scope {
  --from-16-to-11-inverted: 0;
}

#cb16:not(:checked) ~ .scope {
  --from-16-to-8-inverted: 1;
}

#cb16:checked ~ .scope {
  --from-16-to-8-inverted: 0;
}

/*
  we set same --from-CURRENT-to-CURRENT - the problem of scope!
  to cell's label
  and to win rule
*/
#cb17:not(:checked) ~ .scope {
  --from-17-to-17-inverted: 1;
}

#cb17:checked ~ .scope {
  --from-17-to-17-inverted: 0;
}

/*
  do the same for all linked cell
*/
#cb17:not(:checked) ~ .scope {
  --from-17-to-18-inverted: 1;
}

#cb17:checked ~ .scope {
  --from-17-to-18-inverted: 0;
}

#cb17:not(:checked) ~ .scope {
  --from-17-to-9-inverted: 1;
}

#cb17:checked ~ .scope {
  --from-17-to-9-inverted: 0;
}

#cb17:not(:checked) ~ .scope {
  --from-17-to-15-inverted: 1;
}

#cb17:checked ~ .scope {
  --from-17-to-15-inverted: 0;
}

#cb17:not(:checked) ~ .scope {
  --from-17-to-10-inverted: 1;
}

#cb17:checked ~ .scope {
  --from-17-to-10-inverted: 0;
}

/*
  we set same --from-CURRENT-to-CURRENT - the problem of scope!
  to cell's label
  and to win rule
*/
#cb18:not(:checked) ~ .scope {
  --from-18-to-18-inverted: 1;
}

#cb18:checked ~ .scope {
  --from-18-to-18-inverted: 0;
}

/*
  do the same for all linked cell
*/
#cb18:not(:checked) ~ .scope {
  --from-18-to-20-inverted: 1;
}

#cb18:checked ~ .scope {
  --from-18-to-20-inverted: 0;
}

#cb18:not(:checked) ~ .scope {
  --from-18-to-8-inverted: 1;
}

#cb18:checked ~ .scope {
  --from-18-to-8-inverted: 0;
}

#cb18:not(:checked) ~ .scope {
  --from-18-to-5-inverted: 1;
}

#cb18:checked ~ .scope {
  --from-18-to-5-inverted: 0;
}

#cb18:not(:checked) ~ .scope {
  --from-18-to-9-inverted: 1;
}

#cb18:checked ~ .scope {
  --from-18-to-9-inverted: 0;
}

/*
  we set same --from-CURRENT-to-CURRENT - the problem of scope!
  to cell's label
  and to win rule
*/
#cb19:not(:checked) ~ .scope {
  --from-19-to-19-inverted: 1;
}

#cb19:checked ~ .scope {
  --from-19-to-19-inverted: 0;
}

/*
  do the same for all linked cell
*/
#cb19:not(:checked) ~ .scope {
  --from-19-to-12-inverted: 1;
}

#cb19:checked ~ .scope {
  --from-19-to-12-inverted: 0;
}

#cb19:not(:checked) ~ .scope {
  --from-19-to-11-inverted: 1;
}

#cb19:checked ~ .scope {
  --from-19-to-11-inverted: 0;
}

#cb19:not(:checked) ~ .scope {
  --from-19-to-7-inverted: 1;
}

#cb19:checked ~ .scope {
  --from-19-to-7-inverted: 0;
}

#cb19:not(:checked) ~ .scope {
  --from-19-to-8-inverted: 1;
}

#cb19:checked ~ .scope {
  --from-19-to-8-inverted: 0;
}

/*
  we set same --from-CURRENT-to-CURRENT - the problem of scope!
  to cell's label
  and to win rule
*/
#cb20:not(:checked) ~ .scope {
  --from-20-to-20-inverted: 1;
}

#cb20:checked ~ .scope {
  --from-20-to-20-inverted: 0;
}

/*
  do the same for all linked cell
*/
#cb20:not(:checked) ~ .scope {
  --from-20-to-7-inverted: 1;
}

#cb20:checked ~ .scope {
  --from-20-to-7-inverted: 0;
}

#cb20:not(:checked) ~ .scope {
  --from-20-to-14-inverted: 1;
}

#cb20:checked ~ .scope {
  --from-20-to-14-inverted: 0;
}

#cb20:not(:checked) ~ .scope {
  --from-20-to-8-inverted: 1;
}

#cb20:checked ~ .scope {
  --from-20-to-8-inverted: 0;
}

#cb20:not(:checked) ~ .scope {
  --from-20-to-11-inverted: 1;
}

#cb20:checked ~ .scope {
  --from-20-to-11-inverted: 0;
}

/*
  we set same --from-CURRENT-to-CURRENT - the problem of scope!
  to cell's label
  and to win rule
*/
#cb21:not(:checked) ~ .scope {
  --from-21-to-21-inverted: 1;
}

#cb21:checked ~ .scope {
  --from-21-to-21-inverted: 0;
}

/*
  do the same for all linked cell
*/
#cb21:not(:checked) ~ .scope {
  --from-21-to-7-inverted: 1;
}

#cb21:checked ~ .scope {
  --from-21-to-7-inverted: 0;
}

#cb21:not(:checked) ~ .scope {
  --from-21-to-5-inverted: 1;
}

#cb21:checked ~ .scope {
  --from-21-to-5-inverted: 0;
}

/*
  we set same --from-CURRENT-to-CURRENT - the problem of scope!
  to cell's label
  and to win rule
*/
#cb22:not(:checked) ~ .scope {
  --from-22-to-22-inverted: 1;
}

#cb22:checked ~ .scope {
  --from-22-to-22-inverted: 0;
}

/*
  do the same for all linked cell
*/
#cb22:not(:checked) ~ .scope {
  --from-22-to-18-inverted: 1;
}

#cb22:checked ~ .scope {
  --from-22-to-18-inverted: 0;
}

#cb22:not(:checked) ~ .scope {
  --from-22-to-6-inverted: 1;
}

#cb22:checked ~ .scope {
  --from-22-to-6-inverted: 0;
}

#cb22:not(:checked) ~ .scope {
  --from-22-to-21-inverted: 1;
}

#cb22:checked ~ .scope {
  --from-22-to-21-inverted: 0;
}

/*
  we set same --from-CURRENT-to-CURRENT - the problem of scope!
  to cell's label
  and to win rule
*/
#cb23:not(:checked) ~ .scope {
  --from-23-to-23-inverted: 1;
}

#cb23:checked ~ .scope {
  --from-23-to-23-inverted: 0;
}

/*
  do the same for all linked cell
*/
#cb23:not(:checked) ~ .scope {
  --from-23-to-5-inverted: 1;
}

#cb23:checked ~ .scope {
  --from-23-to-5-inverted: 0;
}

/*
  we set same --from-CURRENT-to-CURRENT - the problem of scope!
  to cell's label
  and to win rule
*/
#cb24:not(:checked) ~ .scope {
  --from-24-to-24-inverted: 1;
}

#cb24:checked ~ .scope {
  --from-24-to-24-inverted: 0;
}

/*
  do the same for all linked cell
*/
#cb24:not(:checked) ~ .scope {
  --from-24-to-20-inverted: 1;
}

#cb24:checked ~ .scope {
  --from-24-to-20-inverted: 0;
}

#cb24:not(:checked) ~ .scope {
  --from-24-to-5-inverted: 1;
}

#cb24:checked ~ .scope {
  --from-24-to-5-inverted: 0;
}

#cb24:not(:checked) ~ .scope {
  --from-24-to-16-inverted: 1;
}

#cb24:checked ~ .scope {
  --from-24-to-16-inverted: 0;
}

/*
  we set same --from-CURRENT-to-CURRENT - the problem of scope!
  to cell's label
  and to win rule
*/
#cb25:not(:checked) ~ .scope {
  --from-25-to-25-inverted: 1;
}

#cb25:checked ~ .scope {
  --from-25-to-25-inverted: 0;
}

/*
  do the same for all linked cell
*/
#cb25:not(:checked) ~ .scope {
  --from-25-to-3-inverted: 1;
}

#cb25:checked ~ .scope {
  --from-25-to-3-inverted: 0;
}

#cb25:not(:checked) ~ .scope {
  --from-25-to-21-inverted: 1;
}

#cb25:checked ~ .scope {
  --from-25-to-21-inverted: 0;
}

#cb25:not(:checked) ~ .scope {
  --from-25-to-9-inverted: 1;
}

#cb25:checked ~ .scope {
  --from-25-to-9-inverted: 0;
}

/*
  Each cell may invert other cells
*/
.scope {
  --1-inverted: calc(var(--from-1-to-1-inverted));
}

#s1 {
  background-position-y: calc(var(--1-inverted) * 16vmin * 2);
}

.scope {
  --2-inverted: calc(var(--from-2-to-2-inverted));
}

#s2 {
  background-position-y: calc(var(--2-inverted) * 16vmin * 2);
}

.scope {
  --3-inverted: calc(((((((((var(--from-3-to-3-inverted) - var(--from-9-to-3-inverted)) * (var(--from-3-to-3-inverted) - var(--from-9-to-3-inverted))) - var(--from-10-to-3-inverted)) * (((var(--from-3-to-3-inverted) - var(--from-9-to-3-inverted)) * (var(--from-3-to-3-inverted) - var(--from-9-to-3-inverted))) - var(--from-10-to-3-inverted))) - var(--from-12-to-3-inverted)) * (((((var(--from-3-to-3-inverted) - var(--from-9-to-3-inverted)) * (var(--from-3-to-3-inverted) - var(--from-9-to-3-inverted))) - var(--from-10-to-3-inverted)) * (((var(--from-3-to-3-inverted) - var(--from-9-to-3-inverted)) * (var(--from-3-to-3-inverted) - var(--from-9-to-3-inverted))) - var(--from-10-to-3-inverted))) - var(--from-12-to-3-inverted))) - var(--from-25-to-3-inverted)) * (((((((var(--from-3-to-3-inverted) - var(--from-9-to-3-inverted)) * (var(--from-3-to-3-inverted) - var(--from-9-to-3-inverted))) - var(--from-10-to-3-inverted)) * (((var(--from-3-to-3-inverted) - var(--from-9-to-3-inverted)) * (var(--from-3-to-3-inverted) - var(--from-9-to-3-inverted))) - var(--from-10-to-3-inverted))) - var(--from-12-to-3-inverted)) * (((((var(--from-3-to-3-inverted) - var(--from-9-to-3-inverted)) * (var(--from-3-to-3-inverted) - var(--from-9-to-3-inverted))) - var(--from-10-to-3-inverted)) * (((var(--from-3-to-3-inverted) - var(--from-9-to-3-inverted)) * (var(--from-3-to-3-inverted) - var(--from-9-to-3-inverted))) - var(--from-10-to-3-inverted))) - var(--from-12-to-3-inverted))) - var(--from-25-to-3-inverted))));
}

#s3 {
  background-position-y: calc(var(--3-inverted) * 16vmin * 2);
}

.scope {
  --4-inverted: calc(var(--from-4-to-4-inverted));
}

#s4 {
  background-position-y: calc(var(--4-inverted) * 16vmin * 2);
}

.scope {
  --5-inverted: calc(((((((((var(--from-5-to-5-inverted) - var(--from-18-to-5-inverted)) * (var(--from-5-to-5-inverted) - var(--from-18-to-5-inverted))) - var(--from-21-to-5-inverted)) * (((var(--from-5-to-5-inverted) - var(--from-18-to-5-inverted)) * (var(--from-5-to-5-inverted) - var(--from-18-to-5-inverted))) - var(--from-21-to-5-inverted))) - var(--from-23-to-5-inverted)) * (((((var(--from-5-to-5-inverted) - var(--from-18-to-5-inverted)) * (var(--from-5-to-5-inverted) - var(--from-18-to-5-inverted))) - var(--from-21-to-5-inverted)) * (((var(--from-5-to-5-inverted) - var(--from-18-to-5-inverted)) * (var(--from-5-to-5-inverted) - var(--from-18-to-5-inverted))) - var(--from-21-to-5-inverted))) - var(--from-23-to-5-inverted))) - var(--from-24-to-5-inverted)) * (((((((var(--from-5-to-5-inverted) - var(--from-18-to-5-inverted)) * (var(--from-5-to-5-inverted) - var(--from-18-to-5-inverted))) - var(--from-21-to-5-inverted)) * (((var(--from-5-to-5-inverted) - var(--from-18-to-5-inverted)) * (var(--from-5-to-5-inverted) - var(--from-18-to-5-inverted))) - var(--from-21-to-5-inverted))) - var(--from-23-to-5-inverted)) * (((((var(--from-5-to-5-inverted) - var(--from-18-to-5-inverted)) * (var(--from-5-to-5-inverted) - var(--from-18-to-5-inverted))) - var(--from-21-to-5-inverted)) * (((var(--from-5-to-5-inverted) - var(--from-18-to-5-inverted)) * (var(--from-5-to-5-inverted) - var(--from-18-to-5-inverted))) - var(--from-21-to-5-inverted))) - var(--from-23-to-5-inverted))) - var(--from-24-to-5-inverted))));
}

#s5 {
  background-position-y: calc(var(--5-inverted) * 16vmin * 2);
}

.scope {
  --6-inverted: calc(((((((var(--from-6-to-6-inverted) - var(--from-12-to-6-inverted)) * (var(--from-6-to-6-inverted) - var(--from-12-to-6-inverted))) - var(--from-13-to-6-inverted)) * (((var(--from-6-to-6-inverted) - var(--from-12-to-6-inverted)) * (var(--from-6-to-6-inverted) - var(--from-12-to-6-inverted))) - var(--from-13-to-6-inverted))) - var(--from-22-to-6-inverted)) * (((((var(--from-6-to-6-inverted) - var(--from-12-to-6-inverted)) * (var(--from-6-to-6-inverted) - var(--from-12-to-6-inverted))) - var(--from-13-to-6-inverted)) * (((var(--from-6-to-6-inverted) - var(--from-12-to-6-inverted)) * (var(--from-6-to-6-inverted) - var(--from-12-to-6-inverted))) - var(--from-13-to-6-inverted))) - var(--from-22-to-6-inverted))));
}

#s6 {
  background-position-y: calc(var(--6-inverted) * 16vmin * 2);
}

.scope {
  --7-inverted: calc(((((((var(--from-7-to-7-inverted) - var(--from-19-to-7-inverted)) * (var(--from-7-to-7-inverted) - var(--from-19-to-7-inverted))) - var(--from-20-to-7-inverted)) * (((var(--from-7-to-7-inverted) - var(--from-19-to-7-inverted)) * (var(--from-7-to-7-inverted) - var(--from-19-to-7-inverted))) - var(--from-20-to-7-inverted))) - var(--from-21-to-7-inverted)) * (((((var(--from-7-to-7-inverted) - var(--from-19-to-7-inverted)) * (var(--from-7-to-7-inverted) - var(--from-19-to-7-inverted))) - var(--from-20-to-7-inverted)) * (((var(--from-7-to-7-inverted) - var(--from-19-to-7-inverted)) * (var(--from-7-to-7-inverted) - var(--from-19-to-7-inverted))) - var(--from-20-to-7-inverted))) - var(--from-21-to-7-inverted))));
}

#s7 {
  background-position-y: calc(var(--7-inverted) * 16vmin * 2);
}

.scope {
  --8-inverted: calc(((((((((((var(--from-8-to-8-inverted) - var(--from-5-to-8-inverted)) * (var(--from-8-to-8-inverted) - var(--from-5-to-8-inverted))) - var(--from-16-to-8-inverted)) * (((var(--from-8-to-8-inverted) - var(--from-5-to-8-inverted)) * (var(--from-8-to-8-inverted) - var(--from-5-to-8-inverted))) - var(--from-16-to-8-inverted))) - var(--from-18-to-8-inverted)) * (((((var(--from-8-to-8-inverted) - var(--from-5-to-8-inverted)) * (var(--from-8-to-8-inverted) - var(--from-5-to-8-inverted))) - var(--from-16-to-8-inverted)) * (((var(--from-8-to-8-inverted) - var(--from-5-to-8-inverted)) * (var(--from-8-to-8-inverted) - var(--from-5-to-8-inverted))) - var(--from-16-to-8-inverted))) - var(--from-18-to-8-inverted))) - var(--from-19-to-8-inverted)) * (((((((var(--from-8-to-8-inverted) - var(--from-5-to-8-inverted)) * (var(--from-8-to-8-inverted) - var(--from-5-to-8-inverted))) - var(--from-16-to-8-inverted)) * (((var(--from-8-to-8-inverted) - var(--from-5-to-8-inverted)) * (var(--from-8-to-8-inverted) - var(--from-5-to-8-inverted))) - var(--from-16-to-8-inverted))) - var(--from-18-to-8-inverted)) * (((((var(--from-8-to-8-inverted) - var(--from-5-to-8-inverted)) * (var(--from-8-to-8-inverted) - var(--from-5-to-8-inverted))) - var(--from-16-to-8-inverted)) * (((var(--from-8-to-8-inverted) - var(--from-5-to-8-inverted)) * (var(--from-8-to-8-inverted) - var(--from-5-to-8-inverted))) - var(--from-16-to-8-inverted))) - var(--from-18-to-8-inverted))) - var(--from-19-to-8-inverted))) - var(--from-20-to-8-inverted)) * (((((((((var(--from-8-to-8-inverted) - var(--from-5-to-8-inverted)) * (var(--from-8-to-8-inverted) - var(--from-5-to-8-inverted))) - var(--from-16-to-8-inverted)) * (((var(--from-8-to-8-inverted) - var(--from-5-to-8-inverted)) * (var(--from-8-to-8-inverted) - var(--from-5-to-8-inverted))) - var(--from-16-to-8-inverted))) - var(--from-18-to-8-inverted)) * (((((var(--from-8-to-8-inverted) - var(--from-5-to-8-inverted)) * (var(--from-8-to-8-inverted) - var(--from-5-to-8-inverted))) - var(--from-16-to-8-inverted)) * (((var(--from-8-to-8-inverted) - var(--from-5-to-8-inverted)) * (var(--from-8-to-8-inverted) - var(--from-5-to-8-inverted))) - var(--from-16-to-8-inverted))) - var(--from-18-to-8-inverted))) - var(--from-19-to-8-inverted)) * (((((((var(--from-8-to-8-inverted) - var(--from-5-to-8-inverted)) * (var(--from-8-to-8-inverted) - var(--from-5-to-8-inverted))) - var(--from-16-to-8-inverted)) * (((var(--from-8-to-8-inverted) - var(--from-5-to-8-inverted)) * (var(--from-8-to-8-inverted) - var(--from-5-to-8-inverted))) - var(--from-16-to-8-inverted))) - var(--from-18-to-8-inverted)) * (((((var(--from-8-to-8-inverted) - var(--from-5-to-8-inverted)) * (var(--from-8-to-8-inverted) - var(--from-5-to-8-inverted))) - var(--from-16-to-8-inverted)) * (((var(--from-8-to-8-inverted) - var(--from-5-to-8-inverted)) * (var(--from-8-to-8-inverted) - var(--from-5-to-8-inverted))) - var(--from-16-to-8-inverted))) - var(--from-18-to-8-inverted))) - var(--from-19-to-8-inverted))) - var(--from-20-to-8-inverted))));
}

#s8 {
  background-position-y: calc(var(--8-inverted) * 16vmin * 2);
}

.scope {
  --9-inverted: calc(((((((((var(--from-9-to-9-inverted) - var(--from-12-to-9-inverted)) * (var(--from-9-to-9-inverted) - var(--from-12-to-9-inverted))) - var(--from-17-to-9-inverted)) * (((var(--from-9-to-9-inverted) - var(--from-12-to-9-inverted)) * (var(--from-9-to-9-inverted) - var(--from-12-to-9-inverted))) - var(--from-17-to-9-inverted))) - var(--from-18-to-9-inverted)) * (((((var(--from-9-to-9-inverted) - var(--from-12-to-9-inverted)) * (var(--from-9-to-9-inverted) - var(--from-12-to-9-inverted))) - var(--from-17-to-9-inverted)) * (((var(--from-9-to-9-inverted) - var(--from-12-to-9-inverted)) * (var(--from-9-to-9-inverted) - var(--from-12-to-9-inverted))) - var(--from-17-to-9-inverted))) - var(--from-18-to-9-inverted))) - var(--from-25-to-9-inverted)) * (((((((var(--from-9-to-9-inverted) - var(--from-12-to-9-inverted)) * (var(--from-9-to-9-inverted) - var(--from-12-to-9-inverted))) - var(--from-17-to-9-inverted)) * (((var(--from-9-to-9-inverted) - var(--from-12-to-9-inverted)) * (var(--from-9-to-9-inverted) - var(--from-12-to-9-inverted))) - var(--from-17-to-9-inverted))) - var(--from-18-to-9-inverted)) * (((((var(--from-9-to-9-inverted) - var(--from-12-to-9-inverted)) * (var(--from-9-to-9-inverted) - var(--from-12-to-9-inverted))) - var(--from-17-to-9-inverted)) * (((var(--from-9-to-9-inverted) - var(--from-12-to-9-inverted)) * (var(--from-9-to-9-inverted) - var(--from-12-to-9-inverted))) - var(--from-17-to-9-inverted))) - var(--from-18-to-9-inverted))) - var(--from-25-to-9-inverted))));
}

#s9 {
  background-position-y: calc(var(--9-inverted) * 16vmin * 2);
}

.scope {
  --10-inverted: calc(((((var(--from-10-to-10-inverted) - var(--from-11-to-10-inverted)) * (var(--from-10-to-10-inverted) - var(--from-11-to-10-inverted))) - var(--from-17-to-10-inverted)) * (((var(--from-10-to-10-inverted) - var(--from-11-to-10-inverted)) * (var(--from-10-to-10-inverted) - var(--from-11-to-10-inverted))) - var(--from-17-to-10-inverted))));
}

#s10 {
  background-position-y: calc(var(--10-inverted) * 16vmin * 2);
}

.scope {
  --11-inverted: calc(((((((((var(--from-11-to-11-inverted) - var(--from-6-to-11-inverted)) * (var(--from-11-to-11-inverted) - var(--from-6-to-11-inverted))) - var(--from-16-to-11-inverted)) * (((var(--from-11-to-11-inverted) - var(--from-6-to-11-inverted)) * (var(--from-11-to-11-inverted) - var(--from-6-to-11-inverted))) - var(--from-16-to-11-inverted))) - var(--from-19-to-11-inverted)) * (((((var(--from-11-to-11-inverted) - var(--from-6-to-11-inverted)) * (var(--from-11-to-11-inverted) - var(--from-6-to-11-inverted))) - var(--from-16-to-11-inverted)) * (((var(--from-11-to-11-inverted) - var(--from-6-to-11-inverted)) * (var(--from-11-to-11-inverted) - var(--from-6-to-11-inverted))) - var(--from-16-to-11-inverted))) - var(--from-19-to-11-inverted))) - var(--from-20-to-11-inverted)) * (((((((var(--from-11-to-11-inverted) - var(--from-6-to-11-inverted)) * (var(--from-11-to-11-inverted) - var(--from-6-to-11-inverted))) - var(--from-16-to-11-inverted)) * (((var(--from-11-to-11-inverted) - var(--from-6-to-11-inverted)) * (var(--from-11-to-11-inverted) - var(--from-6-to-11-inverted))) - var(--from-16-to-11-inverted))) - var(--from-19-to-11-inverted)) * (((((var(--from-11-to-11-inverted) - var(--from-6-to-11-inverted)) * (var(--from-11-to-11-inverted) - var(--from-6-to-11-inverted))) - var(--from-16-to-11-inverted)) * (((var(--from-11-to-11-inverted) - var(--from-6-to-11-inverted)) * (var(--from-11-to-11-inverted) - var(--from-6-to-11-inverted))) - var(--from-16-to-11-inverted))) - var(--from-19-to-11-inverted))) - var(--from-20-to-11-inverted))));
}

#s11 {
  background-position-y: calc(var(--11-inverted) * 16vmin * 2);
}

.scope {
  --12-inverted: calc(((((((var(--from-12-to-12-inverted) - var(--from-1-to-12-inverted)) * (var(--from-12-to-12-inverted) - var(--from-1-to-12-inverted))) - var(--from-8-to-12-inverted)) * (((var(--from-12-to-12-inverted) - var(--from-1-to-12-inverted)) * (var(--from-12-to-12-inverted) - var(--from-1-to-12-inverted))) - var(--from-8-to-12-inverted))) - var(--from-19-to-12-inverted)) * (((((var(--from-12-to-12-inverted) - var(--from-1-to-12-inverted)) * (var(--from-12-to-12-inverted) - var(--from-1-to-12-inverted))) - var(--from-8-to-12-inverted)) * (((var(--from-12-to-12-inverted) - var(--from-1-to-12-inverted)) * (var(--from-12-to-12-inverted) - var(--from-1-to-12-inverted))) - var(--from-8-to-12-inverted))) - var(--from-19-to-12-inverted))));
}

#s12 {
  background-position-y: calc(var(--12-inverted) * 16vmin * 2);
}

.scope {
  --13-inverted: calc(var(--from-13-to-13-inverted));
}

#s13 {
  background-position-y: calc(var(--13-inverted) * 16vmin * 2);
}

.scope {
  --14-inverted: calc(((((var(--from-14-to-14-inverted) - var(--from-15-to-14-inverted)) * (var(--from-14-to-14-inverted) - var(--from-15-to-14-inverted))) - var(--from-20-to-14-inverted)) * (((var(--from-14-to-14-inverted) - var(--from-15-to-14-inverted)) * (var(--from-14-to-14-inverted) - var(--from-15-to-14-inverted))) - var(--from-20-to-14-inverted))));
}

#s14 {
  background-position-y: calc(var(--14-inverted) * 16vmin * 2);
}

.scope {
  --15-inverted: calc(((((((((var(--from-15-to-15-inverted) - var(--from-1-to-15-inverted)) * (var(--from-15-to-15-inverted) - var(--from-1-to-15-inverted))) - var(--from-3-to-15-inverted)) * (((var(--from-15-to-15-inverted) - var(--from-1-to-15-inverted)) * (var(--from-15-to-15-inverted) - var(--from-1-to-15-inverted))) - var(--from-3-to-15-inverted))) - var(--from-4-to-15-inverted)) * (((((var(--from-15-to-15-inverted) - var(--from-1-to-15-inverted)) * (var(--from-15-to-15-inverted) - var(--from-1-to-15-inverted))) - var(--from-3-to-15-inverted)) * (((var(--from-15-to-15-inverted) - var(--from-1-to-15-inverted)) * (var(--from-15-to-15-inverted) - var(--from-1-to-15-inverted))) - var(--from-3-to-15-inverted))) - var(--from-4-to-15-inverted))) - var(--from-17-to-15-inverted)) * (((((((var(--from-15-to-15-inverted) - var(--from-1-to-15-inverted)) * (var(--from-15-to-15-inverted) - var(--from-1-to-15-inverted))) - var(--from-3-to-15-inverted)) * (((var(--from-15-to-15-inverted) - var(--from-1-to-15-inverted)) * (var(--from-15-to-15-inverted) - var(--from-1-to-15-inverted))) - var(--from-3-to-15-inverted))) - var(--from-4-to-15-inverted)) * (((((var(--from-15-to-15-inverted) - var(--from-1-to-15-inverted)) * (var(--from-15-to-15-inverted) - var(--from-1-to-15-inverted))) - var(--from-3-to-15-inverted)) * (((var(--from-15-to-15-inverted) - var(--from-1-to-15-inverted)) * (var(--from-15-to-15-inverted) - var(--from-1-to-15-inverted))) - var(--from-3-to-15-inverted))) - var(--from-4-to-15-inverted))) - var(--from-17-to-15-inverted))));
}

#s15 {
  background-position-y: calc(var(--15-inverted) * 16vmin * 2);
}

.scope {
  --16-inverted: calc(((((((var(--from-16-to-16-inverted) - var(--from-11-to-16-inverted)) * (var(--from-16-to-16-inverted) - var(--from-11-to-16-inverted))) - var(--from-14-to-16-inverted)) * (((var(--from-16-to-16-inverted) - var(--from-11-to-16-inverted)) * (var(--from-16-to-16-inverted) - var(--from-11-to-16-inverted))) - var(--from-14-to-16-inverted))) - var(--from-24-to-16-inverted)) * (((((var(--from-16-to-16-inverted) - var(--from-11-to-16-inverted)) * (var(--from-16-to-16-inverted) - var(--from-11-to-16-inverted))) - var(--from-14-to-16-inverted)) * (((var(--from-16-to-16-inverted) - var(--from-11-to-16-inverted)) * (var(--from-16-to-16-inverted) - var(--from-11-to-16-inverted))) - var(--from-14-to-16-inverted))) - var(--from-24-to-16-inverted))));
}

#s16 {
  background-position-y: calc(var(--16-inverted) * 16vmin * 2);
}

.scope {
  --17-inverted: calc(((((var(--from-17-to-17-inverted) - var(--from-6-to-17-inverted)) * (var(--from-17-to-17-inverted) - var(--from-6-to-17-inverted))) - var(--from-7-to-17-inverted)) * (((var(--from-17-to-17-inverted) - var(--from-6-to-17-inverted)) * (var(--from-17-to-17-inverted) - var(--from-6-to-17-inverted))) - var(--from-7-to-17-inverted))));
}

#s17 {
  background-position-y: calc(var(--17-inverted) * 16vmin * 2);
}

.scope {
  --18-inverted: calc(((((((var(--from-18-to-18-inverted) - var(--from-2-to-18-inverted)) * (var(--from-18-to-18-inverted) - var(--from-2-to-18-inverted))) - var(--from-17-to-18-inverted)) * (((var(--from-18-to-18-inverted) - var(--from-2-to-18-inverted)) * (var(--from-18-to-18-inverted) - var(--from-2-to-18-inverted))) - var(--from-17-to-18-inverted))) - var(--from-22-to-18-inverted)) * (((((var(--from-18-to-18-inverted) - var(--from-2-to-18-inverted)) * (var(--from-18-to-18-inverted) - var(--from-2-to-18-inverted))) - var(--from-17-to-18-inverted)) * (((var(--from-18-to-18-inverted) - var(--from-2-to-18-inverted)) * (var(--from-18-to-18-inverted) - var(--from-2-to-18-inverted))) - var(--from-17-to-18-inverted))) - var(--from-22-to-18-inverted))));
}

#s18 {
  background-position-y: calc(var(--18-inverted) * 16vmin * 2);
}

.scope {
  --19-inverted: calc(var(--from-19-to-19-inverted));
}

#s19 {
  background-position-y: calc(var(--19-inverted) * 16vmin * 2);
}

.scope {
  --20-inverted: calc(((((((((((var(--from-20-to-20-inverted) - var(--from-4-to-20-inverted)) * (var(--from-20-to-20-inverted) - var(--from-4-to-20-inverted))) - var(--from-8-to-20-inverted)) * (((var(--from-20-to-20-inverted) - var(--from-4-to-20-inverted)) * (var(--from-20-to-20-inverted) - var(--from-4-to-20-inverted))) - var(--from-8-to-20-inverted))) - var(--from-13-to-20-inverted)) * (((((var(--from-20-to-20-inverted) - var(--from-4-to-20-inverted)) * (var(--from-20-to-20-inverted) - var(--from-4-to-20-inverted))) - var(--from-8-to-20-inverted)) * (((var(--from-20-to-20-inverted) - var(--from-4-to-20-inverted)) * (var(--from-20-to-20-inverted) - var(--from-4-to-20-inverted))) - var(--from-8-to-20-inverted))) - var(--from-13-to-20-inverted))) - var(--from-18-to-20-inverted)) * (((((((var(--from-20-to-20-inverted) - var(--from-4-to-20-inverted)) * (var(--from-20-to-20-inverted) - var(--from-4-to-20-inverted))) - var(--from-8-to-20-inverted)) * (((var(--from-20-to-20-inverted) - var(--from-4-to-20-inverted)) * (var(--from-20-to-20-inverted) - var(--from-4-to-20-inverted))) - var(--from-8-to-20-inverted))) - var(--from-13-to-20-inverted)) * (((((var(--from-20-to-20-inverted) - var(--from-4-to-20-inverted)) * (var(--from-20-to-20-inverted) - var(--from-4-to-20-inverted))) - var(--from-8-to-20-inverted)) * (((var(--from-20-to-20-inverted) - var(--from-4-to-20-inverted)) * (var(--from-20-to-20-inverted) - var(--from-4-to-20-inverted))) - var(--from-8-to-20-inverted))) - var(--from-13-to-20-inverted))) - var(--from-18-to-20-inverted))) - var(--from-24-to-20-inverted)) * (((((((((var(--from-20-to-20-inverted) - var(--from-4-to-20-inverted)) * (var(--from-20-to-20-inverted) - var(--from-4-to-20-inverted))) - var(--from-8-to-20-inverted)) * (((var(--from-20-to-20-inverted) - var(--from-4-to-20-inverted)) * (var(--from-20-to-20-inverted) - var(--from-4-to-20-inverted))) - var(--from-8-to-20-inverted))) - var(--from-13-to-20-inverted)) * (((((var(--from-20-to-20-inverted) - var(--from-4-to-20-inverted)) * (var(--from-20-to-20-inverted) - var(--from-4-to-20-inverted))) - var(--from-8-to-20-inverted)) * (((var(--from-20-to-20-inverted) - var(--from-4-to-20-inverted)) * (var(--from-20-to-20-inverted) - var(--from-4-to-20-inverted))) - var(--from-8-to-20-inverted))) - var(--from-13-to-20-inverted))) - var(--from-18-to-20-inverted)) * (((((((var(--from-20-to-20-inverted) - var(--from-4-to-20-inverted)) * (var(--from-20-to-20-inverted) - var(--from-4-to-20-inverted))) - var(--from-8-to-20-inverted)) * (((var(--from-20-to-20-inverted) - var(--from-4-to-20-inverted)) * (var(--from-20-to-20-inverted) - var(--from-4-to-20-inverted))) - var(--from-8-to-20-inverted))) - var(--from-13-to-20-inverted)) * (((((var(--from-20-to-20-inverted) - var(--from-4-to-20-inverted)) * (var(--from-20-to-20-inverted) - var(--from-4-to-20-inverted))) - var(--from-8-to-20-inverted)) * (((var(--from-20-to-20-inverted) - var(--from-4-to-20-inverted)) * (var(--from-20-to-20-inverted) - var(--from-4-to-20-inverted))) - var(--from-8-to-20-inverted))) - var(--from-13-to-20-inverted))) - var(--from-18-to-20-inverted))) - var(--from-24-to-20-inverted))));
}

#s20 {
  background-position-y: calc(var(--20-inverted) * 16vmin * 2);
}

.scope {
  --21-inverted: calc(((((((((var(--from-21-to-21-inverted) - var(--from-8-to-21-inverted)) * (var(--from-21-to-21-inverted) - var(--from-8-to-21-inverted))) - var(--from-9-to-21-inverted)) * (((var(--from-21-to-21-inverted) - var(--from-8-to-21-inverted)) * (var(--from-21-to-21-inverted) - var(--from-8-to-21-inverted))) - var(--from-9-to-21-inverted))) - var(--from-22-to-21-inverted)) * (((((var(--from-21-to-21-inverted) - var(--from-8-to-21-inverted)) * (var(--from-21-to-21-inverted) - var(--from-8-to-21-inverted))) - var(--from-9-to-21-inverted)) * (((var(--from-21-to-21-inverted) - var(--from-8-to-21-inverted)) * (var(--from-21-to-21-inverted) - var(--from-8-to-21-inverted))) - var(--from-9-to-21-inverted))) - var(--from-22-to-21-inverted))) - var(--from-25-to-21-inverted)) * (((((((var(--from-21-to-21-inverted) - var(--from-8-to-21-inverted)) * (var(--from-21-to-21-inverted) - var(--from-8-to-21-inverted))) - var(--from-9-to-21-inverted)) * (((var(--from-21-to-21-inverted) - var(--from-8-to-21-inverted)) * (var(--from-21-to-21-inverted) - var(--from-8-to-21-inverted))) - var(--from-9-to-21-inverted))) - var(--from-22-to-21-inverted)) * (((((var(--from-21-to-21-inverted) - var(--from-8-to-21-inverted)) * (var(--from-21-to-21-inverted) - var(--from-8-to-21-inverted))) - var(--from-9-to-21-inverted)) * (((var(--from-21-to-21-inverted) - var(--from-8-to-21-inverted)) * (var(--from-21-to-21-inverted) - var(--from-8-to-21-inverted))) - var(--from-9-to-21-inverted))) - var(--from-22-to-21-inverted))) - var(--from-25-to-21-inverted))));
}

#s21 {
  background-position-y: calc(var(--21-inverted) * 16vmin * 2);
}

.scope {
  --22-inverted: calc(((((var(--from-22-to-22-inverted) - var(--from-4-to-22-inverted)) * (var(--from-22-to-22-inverted) - var(--from-4-to-22-inverted))) - var(--from-15-to-22-inverted)) * (((var(--from-22-to-22-inverted) - var(--from-4-to-22-inverted)) * (var(--from-22-to-22-inverted) - var(--from-4-to-22-inverted))) - var(--from-15-to-22-inverted))));
}

#s22 {
  background-position-y: calc(var(--22-inverted) * 16vmin * 2);
}

.scope {
  --23-inverted: calc(((var(--from-23-to-23-inverted) - var(--from-9-to-23-inverted)) * (var(--from-23-to-23-inverted) - var(--from-9-to-23-inverted))));
}

#s23 {
  background-position-y: calc(var(--23-inverted) * 16vmin * 2);
}

.scope {
  --24-inverted: calc(((((((((var(--from-24-to-24-inverted) - var(--from-1-to-24-inverted)) * (var(--from-24-to-24-inverted) - var(--from-1-to-24-inverted))) - var(--from-9-to-24-inverted)) * (((var(--from-24-to-24-inverted) - var(--from-1-to-24-inverted)) * (var(--from-24-to-24-inverted) - var(--from-1-to-24-inverted))) - var(--from-9-to-24-inverted))) - var(--from-12-to-24-inverted)) * (((((var(--from-24-to-24-inverted) - var(--from-1-to-24-inverted)) * (var(--from-24-to-24-inverted) - var(--from-1-to-24-inverted))) - var(--from-9-to-24-inverted)) * (((var(--from-24-to-24-inverted) - var(--from-1-to-24-inverted)) * (var(--from-24-to-24-inverted) - var(--from-1-to-24-inverted))) - var(--from-9-to-24-inverted))) - var(--from-12-to-24-inverted))) - var(--from-14-to-24-inverted)) * (((((((var(--from-24-to-24-inverted) - var(--from-1-to-24-inverted)) * (var(--from-24-to-24-inverted) - var(--from-1-to-24-inverted))) - var(--from-9-to-24-inverted)) * (((var(--from-24-to-24-inverted) - var(--from-1-to-24-inverted)) * (var(--from-24-to-24-inverted) - var(--from-1-to-24-inverted))) - var(--from-9-to-24-inverted))) - var(--from-12-to-24-inverted)) * (((((var(--from-24-to-24-inverted) - var(--from-1-to-24-inverted)) * (var(--from-24-to-24-inverted) - var(--from-1-to-24-inverted))) - var(--from-9-to-24-inverted)) * (((var(--from-24-to-24-inverted) - var(--from-1-to-24-inverted)) * (var(--from-24-to-24-inverted) - var(--from-1-to-24-inverted))) - var(--from-9-to-24-inverted))) - var(--from-12-to-24-inverted))) - var(--from-14-to-24-inverted))));
}

#s24 {
  background-position-y: calc(var(--24-inverted) * 16vmin * 2);
}

.scope {
  --25-inverted: calc(((((((((((var(--from-25-to-25-inverted) - var(--from-2-to-25-inverted)) * (var(--from-25-to-25-inverted) - var(--from-2-to-25-inverted))) - var(--from-4-to-25-inverted)) * (((var(--from-25-to-25-inverted) - var(--from-2-to-25-inverted)) * (var(--from-25-to-25-inverted) - var(--from-2-to-25-inverted))) - var(--from-4-to-25-inverted))) - var(--from-6-to-25-inverted)) * (((((var(--from-25-to-25-inverted) - var(--from-2-to-25-inverted)) * (var(--from-25-to-25-inverted) - var(--from-2-to-25-inverted))) - var(--from-4-to-25-inverted)) * (((var(--from-25-to-25-inverted) - var(--from-2-to-25-inverted)) * (var(--from-25-to-25-inverted) - var(--from-2-to-25-inverted))) - var(--from-4-to-25-inverted))) - var(--from-6-to-25-inverted))) - var(--from-8-to-25-inverted)) * (((((((var(--from-25-to-25-inverted) - var(--from-2-to-25-inverted)) * (var(--from-25-to-25-inverted) - var(--from-2-to-25-inverted))) - var(--from-4-to-25-inverted)) * (((var(--from-25-to-25-inverted) - var(--from-2-to-25-inverted)) * (var(--from-25-to-25-inverted) - var(--from-2-to-25-inverted))) - var(--from-4-to-25-inverted))) - var(--from-6-to-25-inverted)) * (((((var(--from-25-to-25-inverted) - var(--from-2-to-25-inverted)) * (var(--from-25-to-25-inverted) - var(--from-2-to-25-inverted))) - var(--from-4-to-25-inverted)) * (((var(--from-25-to-25-inverted) - var(--from-2-to-25-inverted)) * (var(--from-25-to-25-inverted) - var(--from-2-to-25-inverted))) - var(--from-4-to-25-inverted))) - var(--from-6-to-25-inverted))) - var(--from-8-to-25-inverted))) - var(--from-11-to-25-inverted)) * (((((((((var(--from-25-to-25-inverted) - var(--from-2-to-25-inverted)) * (var(--from-25-to-25-inverted) - var(--from-2-to-25-inverted))) - var(--from-4-to-25-inverted)) * (((var(--from-25-to-25-inverted) - var(--from-2-to-25-inverted)) * (var(--from-25-to-25-inverted) - var(--from-2-to-25-inverted))) - var(--from-4-to-25-inverted))) - var(--from-6-to-25-inverted)) * (((((var(--from-25-to-25-inverted) - var(--from-2-to-25-inverted)) * (var(--from-25-to-25-inverted) - var(--from-2-to-25-inverted))) - var(--from-4-to-25-inverted)) * (((var(--from-25-to-25-inverted) - var(--from-2-to-25-inverted)) * (var(--from-25-to-25-inverted) - var(--from-2-to-25-inverted))) - var(--from-4-to-25-inverted))) - var(--from-6-to-25-inverted))) - var(--from-8-to-25-inverted)) * (((((((var(--from-25-to-25-inverted) - var(--from-2-to-25-inverted)) * (var(--from-25-to-25-inverted) - var(--from-2-to-25-inverted))) - var(--from-4-to-25-inverted)) * (((var(--from-25-to-25-inverted) - var(--from-2-to-25-inverted)) * (var(--from-25-to-25-inverted) - var(--from-2-to-25-inverted))) - var(--from-4-to-25-inverted))) - var(--from-6-to-25-inverted)) * (((((var(--from-25-to-25-inverted) - var(--from-2-to-25-inverted)) * (var(--from-25-to-25-inverted) - var(--from-2-to-25-inverted))) - var(--from-4-to-25-inverted)) * (((var(--from-25-to-25-inverted) - var(--from-2-to-25-inverted)) * (var(--from-25-to-25-inverted) - var(--from-2-to-25-inverted))) - var(--from-4-to-25-inverted))) - var(--from-6-to-25-inverted))) - var(--from-8-to-25-inverted))) - var(--from-11-to-25-inverted))));
}

#s25 {
  background-position-y: calc(var(--25-inverted) * 16vmin * 2);
}

@keyframes colorize {
  to {
    background-position: 200% center;
  }
}
@keyframes move {
  0% {
    transform: translate(-50%, -50%);
  }
  25% {
    transform: translate(-50%, -25%);
  }
  50% {
    transform: translate(-50%, -50%);
  }
  75% {
    transform: translate(-50%, -75%);
  }
  100% {
    transform: translate(-50%, -50%);
  }
}
.win {
  display: inline-block;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 5rem;
  text-transform: uppercase;
  font-weight: 900;
  user-select: none;
  pointer-events: none;
  text-align: center;
  background-image: linear-gradient(-90deg, #FF0018 0%, #FFA52C 20%, #FFFF41 40%, #008018 60%, #0000F9 80%, #86007D 100%);
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: colorize 2s linear infinite, move 2s linear infinite;
}

.win {
  --win: calc((((((((((((((((((((((((((1 - var(--1-inverted))  * (1 - var(--2-inverted)))  * (1 - var(--3-inverted)))  * (1 - var(--4-inverted)))  * (1 - var(--5-inverted)))  * (1 - var(--6-inverted)))  * (1 - var(--7-inverted)))  * (1 - var(--8-inverted)))  * (1 - var(--9-inverted)))  * (1 - var(--10-inverted)))  * (1 - var(--11-inverted)))  * (1 - var(--12-inverted)))  * (1 - var(--13-inverted)))  * (1 - var(--14-inverted)))  * (1 - var(--15-inverted)))  * (1 - var(--16-inverted)))  * (1 - var(--17-inverted)))  * (1 - var(--18-inverted)))  * (1 - var(--19-inverted)))  * (1 - var(--20-inverted)))  * (1 - var(--21-inverted)))  * (1 - var(--22-inverted)))  * (1 - var(--23-inverted)))  * (1 - var(--24-inverted)))  * (1 - var(--25-inverted))));
  opacity: var(--win);
}