* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: black;
  color: #fff;
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

input {
  display: none;
}

.list {
  text-align: center;
}
.list-item {
  margin: 0.5em;
  font-size: 1.25em;
}
.list-item a {
  text-decoration: none;
}

.link {
  text-transform: uppercase;
  color: #2F8621;
}

.game-field-text {
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  font-weight: 900;
  font-size: 1.5rem;
}
.game-field-color {
  color: #9E2730;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.cell, .game-field {
  border: 0.5714285714vmin solid #000;
}

.game-field {
  display: flex;
  width: 81.1428571429vmin;
  flex-wrap: wrap;
}

#cb1:not(:checked) ~ .game-field #s1 {
  --from-1-to-1: 11.4285714286vmin;
}

#cb1:checked ~ .game-field #s1 {
  --from-1-to-1: 0%;
}

#cb1:not(:checked) ~ .game-field #s32 {
  --from-1-to-32: 11.4285714286vmin;
}

#cb1:checked ~ .game-field #s32 {
  --from-1-to-32: 0%;
}

#cb1:not(:checked) ~ .game-field #s19 {
  --from-1-to-19: 11.4285714286vmin;
}

#cb1:checked ~ .game-field #s19 {
  --from-1-to-19: 0%;
}

#cb2:not(:checked) ~ .game-field #s2 {
  --from-2-to-2: 11.4285714286vmin;
}

#cb2:checked ~ .game-field #s2 {
  --from-2-to-2: 0%;
}

#cb2:not(:checked) ~ .game-field #s34 {
  --from-2-to-34: 11.4285714286vmin;
}

#cb2:checked ~ .game-field #s34 {
  --from-2-to-34: 0%;
}

#cb3:not(:checked) ~ .game-field #s3 {
  --from-3-to-3: 11.4285714286vmin;
}

#cb3:checked ~ .game-field #s3 {
  --from-3-to-3: 0%;
}

#cb3:not(:checked) ~ .game-field #s29 {
  --from-3-to-29: 11.4285714286vmin;
}

#cb3:checked ~ .game-field #s29 {
  --from-3-to-29: 0%;
}

#cb4:not(:checked) ~ .game-field #s4 {
  --from-4-to-4: 11.4285714286vmin;
}

#cb4:checked ~ .game-field #s4 {
  --from-4-to-4: 0%;
}

#cb4:not(:checked) ~ .game-field #s10 {
  --from-4-to-10: 11.4285714286vmin;
}

#cb4:checked ~ .game-field #s10 {
  --from-4-to-10: 0%;
}

#cb4:not(:checked) ~ .game-field #s26 {
  --from-4-to-26: 11.4285714286vmin;
}

#cb4:checked ~ .game-field #s26 {
  --from-4-to-26: 0%;
}

#cb4:not(:checked) ~ .game-field #s41 {
  --from-4-to-41: 11.4285714286vmin;
}

#cb4:checked ~ .game-field #s41 {
  --from-4-to-41: 0%;
}

#cb5:not(:checked) ~ .game-field #s5 {
  --from-5-to-5: 11.4285714286vmin;
}

#cb5:checked ~ .game-field #s5 {
  --from-5-to-5: 0%;
}

#cb5:not(:checked) ~ .game-field #s9 {
  --from-5-to-9: 11.4285714286vmin;
}

#cb5:checked ~ .game-field #s9 {
  --from-5-to-9: 0%;
}

#cb5:not(:checked) ~ .game-field #s44 {
  --from-5-to-44: 11.4285714286vmin;
}

#cb5:checked ~ .game-field #s44 {
  --from-5-to-44: 0%;
}

#cb5:not(:checked) ~ .game-field #s48 {
  --from-5-to-48: 11.4285714286vmin;
}

#cb5:checked ~ .game-field #s48 {
  --from-5-to-48: 0%;
}

#cb5:not(:checked) ~ .game-field #s29 {
  --from-5-to-29: 11.4285714286vmin;
}

#cb5:checked ~ .game-field #s29 {
  --from-5-to-29: 0%;
}

#cb6:not(:checked) ~ .game-field #s6 {
  --from-6-to-6: 11.4285714286vmin;
}

#cb6:checked ~ .game-field #s6 {
  --from-6-to-6: 0%;
}

#cb6:not(:checked) ~ .game-field #s45 {
  --from-6-to-45: 11.4285714286vmin;
}

#cb6:checked ~ .game-field #s45 {
  --from-6-to-45: 0%;
}

#cb6:not(:checked) ~ .game-field #s17 {
  --from-6-to-17: 11.4285714286vmin;
}

#cb6:checked ~ .game-field #s17 {
  --from-6-to-17: 0%;
}

#cb7:not(:checked) ~ .game-field #s7 {
  --from-7-to-7: 11.4285714286vmin;
}

#cb7:checked ~ .game-field #s7 {
  --from-7-to-7: 0%;
}

#cb7:not(:checked) ~ .game-field #s28 {
  --from-7-to-28: 11.4285714286vmin;
}

#cb7:checked ~ .game-field #s28 {
  --from-7-to-28: 0%;
}

#cb7:not(:checked) ~ .game-field #s45 {
  --from-7-to-45: 11.4285714286vmin;
}

#cb7:checked ~ .game-field #s45 {
  --from-7-to-45: 0%;
}

#cb7:not(:checked) ~ .game-field #s9 {
  --from-7-to-9: 11.4285714286vmin;
}

#cb7:checked ~ .game-field #s9 {
  --from-7-to-9: 0%;
}

#cb7:not(:checked) ~ .game-field #s11 {
  --from-7-to-11: 11.4285714286vmin;
}

#cb7:checked ~ .game-field #s11 {
  --from-7-to-11: 0%;
}

#cb8:not(:checked) ~ .game-field #s8 {
  --from-8-to-8: 11.4285714286vmin;
}

#cb8:checked ~ .game-field #s8 {
  --from-8-to-8: 0%;
}

#cb8:not(:checked) ~ .game-field #s14 {
  --from-8-to-14: 11.4285714286vmin;
}

#cb8:checked ~ .game-field #s14 {
  --from-8-to-14: 0%;
}

#cb9:not(:checked) ~ .game-field #s9 {
  --from-9-to-9: 11.4285714286vmin;
}

#cb9:checked ~ .game-field #s9 {
  --from-9-to-9: 0%;
}

#cb9:not(:checked) ~ .game-field #s27 {
  --from-9-to-27: 11.4285714286vmin;
}

#cb9:checked ~ .game-field #s27 {
  --from-9-to-27: 0%;
}

#cb10:not(:checked) ~ .game-field #s10 {
  --from-10-to-10: 11.4285714286vmin;
}

#cb10:checked ~ .game-field #s10 {
  --from-10-to-10: 0%;
}

#cb10:not(:checked) ~ .game-field #s9 {
  --from-10-to-9: 11.4285714286vmin;
}

#cb10:checked ~ .game-field #s9 {
  --from-10-to-9: 0%;
}

#cb10:not(:checked) ~ .game-field #s47 {
  --from-10-to-47: 11.4285714286vmin;
}

#cb10:checked ~ .game-field #s47 {
  --from-10-to-47: 0%;
}

#cb11:not(:checked) ~ .game-field #s11 {
  --from-11-to-11: 11.4285714286vmin;
}

#cb11:checked ~ .game-field #s11 {
  --from-11-to-11: 0%;
}

#cb11:not(:checked) ~ .game-field #s5 {
  --from-11-to-5: 11.4285714286vmin;
}

#cb11:checked ~ .game-field #s5 {
  --from-11-to-5: 0%;
}

#cb11:not(:checked) ~ .game-field #s34 {
  --from-11-to-34: 11.4285714286vmin;
}

#cb11:checked ~ .game-field #s34 {
  --from-11-to-34: 0%;
}

#cb11:not(:checked) ~ .game-field #s16 {
  --from-11-to-16: 11.4285714286vmin;
}

#cb11:checked ~ .game-field #s16 {
  --from-11-to-16: 0%;
}

#cb12:not(:checked) ~ .game-field #s12 {
  --from-12-to-12: 11.4285714286vmin;
}

#cb12:checked ~ .game-field #s12 {
  --from-12-to-12: 0%;
}

#cb12:not(:checked) ~ .game-field #s49 {
  --from-12-to-49: 11.4285714286vmin;
}

#cb12:checked ~ .game-field #s49 {
  --from-12-to-49: 0%;
}

#cb12:not(:checked) ~ .game-field #s2 {
  --from-12-to-2: 11.4285714286vmin;
}

#cb12:checked ~ .game-field #s2 {
  --from-12-to-2: 0%;
}

#cb12:not(:checked) ~ .game-field #s29 {
  --from-12-to-29: 11.4285714286vmin;
}

#cb12:checked ~ .game-field #s29 {
  --from-12-to-29: 0%;
}

#cb12:not(:checked) ~ .game-field #s48 {
  --from-12-to-48: 11.4285714286vmin;
}

#cb12:checked ~ .game-field #s48 {
  --from-12-to-48: 0%;
}

#cb13:not(:checked) ~ .game-field #s13 {
  --from-13-to-13: 11.4285714286vmin;
}

#cb13:checked ~ .game-field #s13 {
  --from-13-to-13: 0%;
}

#cb13:not(:checked) ~ .game-field #s15 {
  --from-13-to-15: 11.4285714286vmin;
}

#cb13:checked ~ .game-field #s15 {
  --from-13-to-15: 0%;
}

#cb13:not(:checked) ~ .game-field #s27 {
  --from-13-to-27: 11.4285714286vmin;
}

#cb13:checked ~ .game-field #s27 {
  --from-13-to-27: 0%;
}

#cb13:not(:checked) ~ .game-field #s39 {
  --from-13-to-39: 11.4285714286vmin;
}

#cb13:checked ~ .game-field #s39 {
  --from-13-to-39: 0%;
}

#cb14:not(:checked) ~ .game-field #s14 {
  --from-14-to-14: 11.4285714286vmin;
}

#cb14:checked ~ .game-field #s14 {
  --from-14-to-14: 0%;
}

#cb14:not(:checked) ~ .game-field #s43 {
  --from-14-to-43: 11.4285714286vmin;
}

#cb14:checked ~ .game-field #s43 {
  --from-14-to-43: 0%;
}

#cb14:not(:checked) ~ .game-field #s26 {
  --from-14-to-26: 11.4285714286vmin;
}

#cb14:checked ~ .game-field #s26 {
  --from-14-to-26: 0%;
}

#cb14:not(:checked) ~ .game-field #s15 {
  --from-14-to-15: 11.4285714286vmin;
}

#cb14:checked ~ .game-field #s15 {
  --from-14-to-15: 0%;
}

#cb15:not(:checked) ~ .game-field #s15 {
  --from-15-to-15: 11.4285714286vmin;
}

#cb15:checked ~ .game-field #s15 {
  --from-15-to-15: 0%;
}

#cb15:not(:checked) ~ .game-field #s28 {
  --from-15-to-28: 11.4285714286vmin;
}

#cb15:checked ~ .game-field #s28 {
  --from-15-to-28: 0%;
}

#cb15:not(:checked) ~ .game-field #s14 {
  --from-15-to-14: 11.4285714286vmin;
}

#cb15:checked ~ .game-field #s14 {
  --from-15-to-14: 0%;
}

#cb15:not(:checked) ~ .game-field #s10 {
  --from-15-to-10: 11.4285714286vmin;
}

#cb15:checked ~ .game-field #s10 {
  --from-15-to-10: 0%;
}

#cb15:not(:checked) ~ .game-field #s24 {
  --from-15-to-24: 11.4285714286vmin;
}

#cb15:checked ~ .game-field #s24 {
  --from-15-to-24: 0%;
}

#cb16:not(:checked) ~ .game-field #s16 {
  --from-16-to-16: 11.4285714286vmin;
}

#cb16:checked ~ .game-field #s16 {
  --from-16-to-16: 0%;
}

#cb16:not(:checked) ~ .game-field #s35 {
  --from-16-to-35: 11.4285714286vmin;
}

#cb16:checked ~ .game-field #s35 {
  --from-16-to-35: 0%;
}

#cb16:not(:checked) ~ .game-field #s7 {
  --from-16-to-7: 11.4285714286vmin;
}

#cb16:checked ~ .game-field #s7 {
  --from-16-to-7: 0%;
}

#cb17:not(:checked) ~ .game-field #s17 {
  --from-17-to-17: 11.4285714286vmin;
}

#cb17:checked ~ .game-field #s17 {
  --from-17-to-17: 0%;
}

#cb17:not(:checked) ~ .game-field #s31 {
  --from-17-to-31: 11.4285714286vmin;
}

#cb17:checked ~ .game-field #s31 {
  --from-17-to-31: 0%;
}

#cb17:not(:checked) ~ .game-field #s4 {
  --from-17-to-4: 11.4285714286vmin;
}

#cb17:checked ~ .game-field #s4 {
  --from-17-to-4: 0%;
}

#cb17:not(:checked) ~ .game-field #s36 {
  --from-17-to-36: 11.4285714286vmin;
}

#cb17:checked ~ .game-field #s36 {
  --from-17-to-36: 0%;
}

#cb18:not(:checked) ~ .game-field #s18 {
  --from-18-to-18: 11.4285714286vmin;
}

#cb18:checked ~ .game-field #s18 {
  --from-18-to-18: 0%;
}

#cb18:not(:checked) ~ .game-field #s11 {
  --from-18-to-11: 11.4285714286vmin;
}

#cb18:checked ~ .game-field #s11 {
  --from-18-to-11: 0%;
}

#cb19:not(:checked) ~ .game-field #s19 {
  --from-19-to-19: 11.4285714286vmin;
}

#cb19:checked ~ .game-field #s19 {
  --from-19-to-19: 0%;
}

#cb19:not(:checked) ~ .game-field #s14 {
  --from-19-to-14: 11.4285714286vmin;
}

#cb19:checked ~ .game-field #s14 {
  --from-19-to-14: 0%;
}

#cb20:not(:checked) ~ .game-field #s20 {
  --from-20-to-20: 11.4285714286vmin;
}

#cb20:checked ~ .game-field #s20 {
  --from-20-to-20: 0%;
}

#cb20:not(:checked) ~ .game-field #s6 {
  --from-20-to-6: 11.4285714286vmin;
}

#cb20:checked ~ .game-field #s6 {
  --from-20-to-6: 0%;
}

#cb20:not(:checked) ~ .game-field #s32 {
  --from-20-to-32: 11.4285714286vmin;
}

#cb20:checked ~ .game-field #s32 {
  --from-20-to-32: 0%;
}

#cb20:not(:checked) ~ .game-field #s35 {
  --from-20-to-35: 11.4285714286vmin;
}

#cb20:checked ~ .game-field #s35 {
  --from-20-to-35: 0%;
}

#cb21:not(:checked) ~ .game-field #s21 {
  --from-21-to-21: 11.4285714286vmin;
}

#cb21:checked ~ .game-field #s21 {
  --from-21-to-21: 0%;
}

#cb21:not(:checked) ~ .game-field #s40 {
  --from-21-to-40: 11.4285714286vmin;
}

#cb21:checked ~ .game-field #s40 {
  --from-21-to-40: 0%;
}

#cb21:not(:checked) ~ .game-field #s28 {
  --from-21-to-28: 11.4285714286vmin;
}

#cb21:checked ~ .game-field #s28 {
  --from-21-to-28: 0%;
}

#cb21:not(:checked) ~ .game-field #s4 {
  --from-21-to-4: 11.4285714286vmin;
}

#cb21:checked ~ .game-field #s4 {
  --from-21-to-4: 0%;
}

#cb21:not(:checked) ~ .game-field #s45 {
  --from-21-to-45: 11.4285714286vmin;
}

#cb21:checked ~ .game-field #s45 {
  --from-21-to-45: 0%;
}

#cb22:not(:checked) ~ .game-field #s22 {
  --from-22-to-22: 11.4285714286vmin;
}

#cb22:checked ~ .game-field #s22 {
  --from-22-to-22: 0%;
}

#cb22:not(:checked) ~ .game-field #s21 {
  --from-22-to-21: 11.4285714286vmin;
}

#cb22:checked ~ .game-field #s21 {
  --from-22-to-21: 0%;
}

#cb23:not(:checked) ~ .game-field #s23 {
  --from-23-to-23: 11.4285714286vmin;
}

#cb23:checked ~ .game-field #s23 {
  --from-23-to-23: 0%;
}

#cb23:not(:checked) ~ .game-field #s28 {
  --from-23-to-28: 11.4285714286vmin;
}

#cb23:checked ~ .game-field #s28 {
  --from-23-to-28: 0%;
}

#cb23:not(:checked) ~ .game-field #s34 {
  --from-23-to-34: 11.4285714286vmin;
}

#cb23:checked ~ .game-field #s34 {
  --from-23-to-34: 0%;
}

#cb23:not(:checked) ~ .game-field #s46 {
  --from-23-to-46: 11.4285714286vmin;
}

#cb23:checked ~ .game-field #s46 {
  --from-23-to-46: 0%;
}

#cb23:not(:checked) ~ .game-field #s31 {
  --from-23-to-31: 11.4285714286vmin;
}

#cb23:checked ~ .game-field #s31 {
  --from-23-to-31: 0%;
}

#cb24:not(:checked) ~ .game-field #s24 {
  --from-24-to-24: 11.4285714286vmin;
}

#cb24:checked ~ .game-field #s24 {
  --from-24-to-24: 0%;
}

#cb24:not(:checked) ~ .game-field #s22 {
  --from-24-to-22: 11.4285714286vmin;
}

#cb24:checked ~ .game-field #s22 {
  --from-24-to-22: 0%;
}

#cb24:not(:checked) ~ .game-field #s3 {
  --from-24-to-3: 11.4285714286vmin;
}

#cb24:checked ~ .game-field #s3 {
  --from-24-to-3: 0%;
}

#cb24:not(:checked) ~ .game-field #s4 {
  --from-24-to-4: 11.4285714286vmin;
}

#cb24:checked ~ .game-field #s4 {
  --from-24-to-4: 0%;
}

#cb24:not(:checked) ~ .game-field #s36 {
  --from-24-to-36: 11.4285714286vmin;
}

#cb24:checked ~ .game-field #s36 {
  --from-24-to-36: 0%;
}

#cb25:not(:checked) ~ .game-field #s25 {
  --from-25-to-25: 11.4285714286vmin;
}

#cb25:checked ~ .game-field #s25 {
  --from-25-to-25: 0%;
}

#cb25:not(:checked) ~ .game-field #s40 {
  --from-25-to-40: 11.4285714286vmin;
}

#cb25:checked ~ .game-field #s40 {
  --from-25-to-40: 0%;
}

#cb25:not(:checked) ~ .game-field #s13 {
  --from-25-to-13: 11.4285714286vmin;
}

#cb25:checked ~ .game-field #s13 {
  --from-25-to-13: 0%;
}

#cb25:not(:checked) ~ .game-field #s21 {
  --from-25-to-21: 11.4285714286vmin;
}

#cb25:checked ~ .game-field #s21 {
  --from-25-to-21: 0%;
}

#cb25:not(:checked) ~ .game-field #s16 {
  --from-25-to-16: 11.4285714286vmin;
}

#cb25:checked ~ .game-field #s16 {
  --from-25-to-16: 0%;
}

#cb26:not(:checked) ~ .game-field #s26 {
  --from-26-to-26: 11.4285714286vmin;
}

#cb26:checked ~ .game-field #s26 {
  --from-26-to-26: 0%;
}

#cb26:not(:checked) ~ .game-field #s42 {
  --from-26-to-42: 11.4285714286vmin;
}

#cb26:checked ~ .game-field #s42 {
  --from-26-to-42: 0%;
}

#cb26:not(:checked) ~ .game-field #s2 {
  --from-26-to-2: 11.4285714286vmin;
}

#cb26:checked ~ .game-field #s2 {
  --from-26-to-2: 0%;
}

#cb27:not(:checked) ~ .game-field #s27 {
  --from-27-to-27: 11.4285714286vmin;
}

#cb27:checked ~ .game-field #s27 {
  --from-27-to-27: 0%;
}

#cb27:not(:checked) ~ .game-field #s7 {
  --from-27-to-7: 11.4285714286vmin;
}

#cb27:checked ~ .game-field #s7 {
  --from-27-to-7: 0%;
}

#cb27:not(:checked) ~ .game-field #s11 {
  --from-27-to-11: 11.4285714286vmin;
}

#cb27:checked ~ .game-field #s11 {
  --from-27-to-11: 0%;
}

#cb27:not(:checked) ~ .game-field #s44 {
  --from-27-to-44: 11.4285714286vmin;
}

#cb27:checked ~ .game-field #s44 {
  --from-27-to-44: 0%;
}

#cb27:not(:checked) ~ .game-field #s48 {
  --from-27-to-48: 11.4285714286vmin;
}

#cb27:checked ~ .game-field #s48 {
  --from-27-to-48: 0%;
}

#cb28:not(:checked) ~ .game-field #s28 {
  --from-28-to-28: 11.4285714286vmin;
}

#cb28:checked ~ .game-field #s28 {
  --from-28-to-28: 0%;
}

#cb28:not(:checked) ~ .game-field #s40 {
  --from-28-to-40: 11.4285714286vmin;
}

#cb28:checked ~ .game-field #s40 {
  --from-28-to-40: 0%;
}

#cb28:not(:checked) ~ .game-field #s3 {
  --from-28-to-3: 11.4285714286vmin;
}

#cb28:checked ~ .game-field #s3 {
  --from-28-to-3: 0%;
}

#cb28:not(:checked) ~ .game-field #s42 {
  --from-28-to-42: 11.4285714286vmin;
}

#cb28:checked ~ .game-field #s42 {
  --from-28-to-42: 0%;
}

#cb29:not(:checked) ~ .game-field #s29 {
  --from-29-to-29: 11.4285714286vmin;
}

#cb29:checked ~ .game-field #s29 {
  --from-29-to-29: 0%;
}

#cb29:not(:checked) ~ .game-field #s40 {
  --from-29-to-40: 11.4285714286vmin;
}

#cb29:checked ~ .game-field #s40 {
  --from-29-to-40: 0%;
}

#cb29:not(:checked) ~ .game-field #s14 {
  --from-29-to-14: 11.4285714286vmin;
}

#cb29:checked ~ .game-field #s14 {
  --from-29-to-14: 0%;
}

#cb29:not(:checked) ~ .game-field #s33 {
  --from-29-to-33: 11.4285714286vmin;
}

#cb29:checked ~ .game-field #s33 {
  --from-29-to-33: 0%;
}

#cb29:not(:checked) ~ .game-field #s2 {
  --from-29-to-2: 11.4285714286vmin;
}

#cb29:checked ~ .game-field #s2 {
  --from-29-to-2: 0%;
}

#cb30:not(:checked) ~ .game-field #s30 {
  --from-30-to-30: 11.4285714286vmin;
}

#cb30:checked ~ .game-field #s30 {
  --from-30-to-30: 0%;
}

#cb30:not(:checked) ~ .game-field #s44 {
  --from-30-to-44: 11.4285714286vmin;
}

#cb30:checked ~ .game-field #s44 {
  --from-30-to-44: 0%;
}

#cb30:not(:checked) ~ .game-field #s32 {
  --from-30-to-32: 11.4285714286vmin;
}

#cb30:checked ~ .game-field #s32 {
  --from-30-to-32: 0%;
}

#cb30:not(:checked) ~ .game-field #s3 {
  --from-30-to-3: 11.4285714286vmin;
}

#cb30:checked ~ .game-field #s3 {
  --from-30-to-3: 0%;
}

#cb31:not(:checked) ~ .game-field #s31 {
  --from-31-to-31: 11.4285714286vmin;
}

#cb31:checked ~ .game-field #s31 {
  --from-31-to-31: 0%;
}

#cb31:not(:checked) ~ .game-field #s5 {
  --from-31-to-5: 11.4285714286vmin;
}

#cb31:checked ~ .game-field #s5 {
  --from-31-to-5: 0%;
}

#cb31:not(:checked) ~ .game-field #s28 {
  --from-31-to-28: 11.4285714286vmin;
}

#cb31:checked ~ .game-field #s28 {
  --from-31-to-28: 0%;
}

#cb31:not(:checked) ~ .game-field #s8 {
  --from-31-to-8: 11.4285714286vmin;
}

#cb31:checked ~ .game-field #s8 {
  --from-31-to-8: 0%;
}

#cb31:not(:checked) ~ .game-field #s26 {
  --from-31-to-26: 11.4285714286vmin;
}

#cb31:checked ~ .game-field #s26 {
  --from-31-to-26: 0%;
}

#cb32:not(:checked) ~ .game-field #s32 {
  --from-32-to-32: 11.4285714286vmin;
}

#cb32:checked ~ .game-field #s32 {
  --from-32-to-32: 0%;
}

#cb32:not(:checked) ~ .game-field #s23 {
  --from-32-to-23: 11.4285714286vmin;
}

#cb32:checked ~ .game-field #s23 {
  --from-32-to-23: 0%;
}

#cb32:not(:checked) ~ .game-field #s28 {
  --from-32-to-28: 11.4285714286vmin;
}

#cb32:checked ~ .game-field #s28 {
  --from-32-to-28: 0%;
}

#cb33:not(:checked) ~ .game-field #s33 {
  --from-33-to-33: 11.4285714286vmin;
}

#cb33:checked ~ .game-field #s33 {
  --from-33-to-33: 0%;
}

#cb33:not(:checked) ~ .game-field #s21 {
  --from-33-to-21: 11.4285714286vmin;
}

#cb33:checked ~ .game-field #s21 {
  --from-33-to-21: 0%;
}

#cb33:not(:checked) ~ .game-field #s48 {
  --from-33-to-48: 11.4285714286vmin;
}

#cb33:checked ~ .game-field #s48 {
  --from-33-to-48: 0%;
}

#cb34:not(:checked) ~ .game-field #s34 {
  --from-34-to-34: 11.4285714286vmin;
}

#cb34:checked ~ .game-field #s34 {
  --from-34-to-34: 0%;
}

#cb34:not(:checked) ~ .game-field #s30 {
  --from-34-to-30: 11.4285714286vmin;
}

#cb34:checked ~ .game-field #s30 {
  --from-34-to-30: 0%;
}

#cb35:not(:checked) ~ .game-field #s35 {
  --from-35-to-35: 11.4285714286vmin;
}

#cb35:checked ~ .game-field #s35 {
  --from-35-to-35: 0%;
}

#cb35:not(:checked) ~ .game-field #s31 {
  --from-35-to-31: 11.4285714286vmin;
}

#cb35:checked ~ .game-field #s31 {
  --from-35-to-31: 0%;
}

#cb35:not(:checked) ~ .game-field #s10 {
  --from-35-to-10: 11.4285714286vmin;
}

#cb35:checked ~ .game-field #s10 {
  --from-35-to-10: 0%;
}

#cb35:not(:checked) ~ .game-field #s41 {
  --from-35-to-41: 11.4285714286vmin;
}

#cb35:checked ~ .game-field #s41 {
  --from-35-to-41: 0%;
}

#cb35:not(:checked) ~ .game-field #s42 {
  --from-35-to-42: 11.4285714286vmin;
}

#cb35:checked ~ .game-field #s42 {
  --from-35-to-42: 0%;
}

#cb36:not(:checked) ~ .game-field #s36 {
  --from-36-to-36: 11.4285714286vmin;
}

#cb36:checked ~ .game-field #s36 {
  --from-36-to-36: 0%;
}

#cb36:not(:checked) ~ .game-field #s20 {
  --from-36-to-20: 11.4285714286vmin;
}

#cb36:checked ~ .game-field #s20 {
  --from-36-to-20: 0%;
}

#cb37:not(:checked) ~ .game-field #s37 {
  --from-37-to-37: 11.4285714286vmin;
}

#cb37:checked ~ .game-field #s37 {
  --from-37-to-37: 0%;
}

#cb37:not(:checked) ~ .game-field #s13 {
  --from-37-to-13: 11.4285714286vmin;
}

#cb37:checked ~ .game-field #s13 {
  --from-37-to-13: 0%;
}

#cb37:not(:checked) ~ .game-field #s27 {
  --from-37-to-27: 11.4285714286vmin;
}

#cb37:checked ~ .game-field #s27 {
  --from-37-to-27: 0%;
}

#cb37:not(:checked) ~ .game-field #s41 {
  --from-37-to-41: 11.4285714286vmin;
}

#cb37:checked ~ .game-field #s41 {
  --from-37-to-41: 0%;
}

#cb38:not(:checked) ~ .game-field #s38 {
  --from-38-to-38: 11.4285714286vmin;
}

#cb38:checked ~ .game-field #s38 {
  --from-38-to-38: 0%;
}

#cb38:not(:checked) ~ .game-field #s39 {
  --from-38-to-39: 11.4285714286vmin;
}

#cb38:checked ~ .game-field #s39 {
  --from-38-to-39: 0%;
}

#cb38:not(:checked) ~ .game-field #s12 {
  --from-38-to-12: 11.4285714286vmin;
}

#cb38:checked ~ .game-field #s12 {
  --from-38-to-12: 0%;
}

#cb39:not(:checked) ~ .game-field #s39 {
  --from-39-to-39: 11.4285714286vmin;
}

#cb39:checked ~ .game-field #s39 {
  --from-39-to-39: 0%;
}

#cb39:not(:checked) ~ .game-field #s28 {
  --from-39-to-28: 11.4285714286vmin;
}

#cb39:checked ~ .game-field #s28 {
  --from-39-to-28: 0%;
}

#cb39:not(:checked) ~ .game-field #s21 {
  --from-39-to-21: 11.4285714286vmin;
}

#cb39:checked ~ .game-field #s21 {
  --from-39-to-21: 0%;
}

#cb39:not(:checked) ~ .game-field #s22 {
  --from-39-to-22: 11.4285714286vmin;
}

#cb39:checked ~ .game-field #s22 {
  --from-39-to-22: 0%;
}

#cb40:not(:checked) ~ .game-field #s40 {
  --from-40-to-40: 11.4285714286vmin;
}

#cb40:checked ~ .game-field #s40 {
  --from-40-to-40: 0%;
}

#cb40:not(:checked) ~ .game-field #s35 {
  --from-40-to-35: 11.4285714286vmin;
}

#cb40:checked ~ .game-field #s35 {
  --from-40-to-35: 0%;
}

#cb41:not(:checked) ~ .game-field #s41 {
  --from-41-to-41: 11.4285714286vmin;
}

#cb41:checked ~ .game-field #s41 {
  --from-41-to-41: 0%;
}

#cb41:not(:checked) ~ .game-field #s34 {
  --from-41-to-34: 11.4285714286vmin;
}

#cb41:checked ~ .game-field #s34 {
  --from-41-to-34: 0%;
}

#cb41:not(:checked) ~ .game-field #s6 {
  --from-41-to-6: 11.4285714286vmin;
}

#cb41:checked ~ .game-field #s6 {
  --from-41-to-6: 0%;
}

#cb42:not(:checked) ~ .game-field #s42 {
  --from-42-to-42: 11.4285714286vmin;
}

#cb42:checked ~ .game-field #s42 {
  --from-42-to-42: 0%;
}

#cb42:not(:checked) ~ .game-field #s31 {
  --from-42-to-31: 11.4285714286vmin;
}

#cb42:checked ~ .game-field #s31 {
  --from-42-to-31: 0%;
}

#cb42:not(:checked) ~ .game-field #s27 {
  --from-42-to-27: 11.4285714286vmin;
}

#cb42:checked ~ .game-field #s27 {
  --from-42-to-27: 0%;
}

#cb42:not(:checked) ~ .game-field #s5 {
  --from-42-to-5: 11.4285714286vmin;
}

#cb42:checked ~ .game-field #s5 {
  --from-42-to-5: 0%;
}

#cb43:not(:checked) ~ .game-field #s43 {
  --from-43-to-43: 11.4285714286vmin;
}

#cb43:checked ~ .game-field #s43 {
  --from-43-to-43: 0%;
}

#cb43:not(:checked) ~ .game-field #s31 {
  --from-43-to-31: 11.4285714286vmin;
}

#cb43:checked ~ .game-field #s31 {
  --from-43-to-31: 0%;
}

#cb43:not(:checked) ~ .game-field #s2 {
  --from-43-to-2: 11.4285714286vmin;
}

#cb43:checked ~ .game-field #s2 {
  --from-43-to-2: 0%;
}

#cb44:not(:checked) ~ .game-field #s44 {
  --from-44-to-44: 11.4285714286vmin;
}

#cb44:checked ~ .game-field #s44 {
  --from-44-to-44: 0%;
}

#cb44:not(:checked) ~ .game-field #s2 {
  --from-44-to-2: 11.4285714286vmin;
}

#cb44:checked ~ .game-field #s2 {
  --from-44-to-2: 0%;
}

#cb45:not(:checked) ~ .game-field #s45 {
  --from-45-to-45: 11.4285714286vmin;
}

#cb45:checked ~ .game-field #s45 {
  --from-45-to-45: 0%;
}

#cb45:not(:checked) ~ .game-field #s26 {
  --from-45-to-26: 11.4285714286vmin;
}

#cb45:checked ~ .game-field #s26 {
  --from-45-to-26: 0%;
}

#cb45:not(:checked) ~ .game-field #s6 {
  --from-45-to-6: 11.4285714286vmin;
}

#cb45:checked ~ .game-field #s6 {
  --from-45-to-6: 0%;
}

#cb46:not(:checked) ~ .game-field #s46 {
  --from-46-to-46: 11.4285714286vmin;
}

#cb46:checked ~ .game-field #s46 {
  --from-46-to-46: 0%;
}

#cb46:not(:checked) ~ .game-field #s19 {
  --from-46-to-19: 11.4285714286vmin;
}

#cb46:checked ~ .game-field #s19 {
  --from-46-to-19: 0%;
}

#cb47:not(:checked) ~ .game-field #s47 {
  --from-47-to-47: 11.4285714286vmin;
}

#cb47:checked ~ .game-field #s47 {
  --from-47-to-47: 0%;
}

#cb47:not(:checked) ~ .game-field #s32 {
  --from-47-to-32: 11.4285714286vmin;
}

#cb47:checked ~ .game-field #s32 {
  --from-47-to-32: 0%;
}

#cb48:not(:checked) ~ .game-field #s48 {
  --from-48-to-48: 11.4285714286vmin;
}

#cb48:checked ~ .game-field #s48 {
  --from-48-to-48: 0%;
}

#cb48:not(:checked) ~ .game-field #s26 {
  --from-48-to-26: 11.4285714286vmin;
}

#cb48:checked ~ .game-field #s26 {
  --from-48-to-26: 0%;
}

#cb49:not(:checked) ~ .game-field #s49 {
  --from-49-to-49: 11.4285714286vmin;
}

#cb49:checked ~ .game-field #s49 {
  --from-49-to-49: 0%;
}

#cb49:not(:checked) ~ .game-field #s8 {
  --from-49-to-8: 11.4285714286vmin;
}

#cb49:checked ~ .game-field #s8 {
  --from-49-to-8: 0%;
}

#cb49:not(:checked) ~ .game-field #s26 {
  --from-49-to-26: 11.4285714286vmin;
}

#cb49:checked ~ .game-field #s26 {
  --from-49-to-26: 0%;
}

#cb49:not(:checked) ~ .game-field #s9 {
  --from-49-to-9: 11.4285714286vmin;
}

#cb49:checked ~ .game-field #s9 {
  --from-49-to-9: 0%;
}

#s1 {
  background-position-y: calc( 11.4285714286vmin + var(--from-1-to-1) );
}

#s2 {
  background-position-y: calc( 11.4285714286vmin + var(--from-2-to-2) + var(--from-12-to-2) + var(--from-26-to-2) + var(--from-29-to-2) + var(--from-43-to-2) + var(--from-44-to-2) );
}

#s3 {
  background-position-y: calc( 11.4285714286vmin + var(--from-3-to-3) + var(--from-24-to-3) + var(--from-28-to-3) + var(--from-30-to-3) );
}

#s4 {
  background-position-y: calc( 11.4285714286vmin + var(--from-4-to-4) + var(--from-17-to-4) + var(--from-21-to-4) + var(--from-24-to-4) );
}

#s5 {
  background-position-y: calc( 11.4285714286vmin + var(--from-5-to-5) + var(--from-11-to-5) + var(--from-31-to-5) + var(--from-42-to-5) );
}

#s6 {
  background-position-y: calc( 11.4285714286vmin + var(--from-6-to-6) + var(--from-20-to-6) + var(--from-41-to-6) + var(--from-45-to-6) );
}

#s7 {
  background-position-y: calc( 11.4285714286vmin + var(--from-7-to-7) + var(--from-16-to-7) + var(--from-27-to-7) );
}

#s8 {
  background-position-y: calc( 11.4285714286vmin + var(--from-8-to-8) + var(--from-31-to-8) + var(--from-49-to-8) );
}

#s9 {
  background-position-y: calc( 11.4285714286vmin + var(--from-9-to-9) + var(--from-5-to-9) + var(--from-7-to-9) + var(--from-10-to-9) + var(--from-49-to-9) );
}

#s10 {
  background-position-y: calc( 11.4285714286vmin + var(--from-10-to-10) + var(--from-4-to-10) + var(--from-15-to-10) + var(--from-35-to-10) );
}

#s11 {
  background-position-y: calc( 11.4285714286vmin + var(--from-11-to-11) + var(--from-7-to-11) + var(--from-18-to-11) + var(--from-27-to-11) );
}

#s12 {
  background-position-y: calc( 11.4285714286vmin + var(--from-12-to-12) + var(--from-38-to-12) );
}

#s13 {
  background-position-y: calc( 11.4285714286vmin + var(--from-13-to-13) + var(--from-25-to-13) + var(--from-37-to-13) );
}

#s14 {
  background-position-y: calc( 11.4285714286vmin + var(--from-14-to-14) + var(--from-8-to-14) + var(--from-15-to-14) + var(--from-19-to-14) + var(--from-29-to-14) );
}

#s15 {
  background-position-y: calc( 11.4285714286vmin + var(--from-15-to-15) + var(--from-13-to-15) + var(--from-14-to-15) );
}

#s16 {
  background-position-y: calc( 11.4285714286vmin + var(--from-16-to-16) + var(--from-11-to-16) + var(--from-25-to-16) );
}

#s17 {
  background-position-y: calc( 11.4285714286vmin + var(--from-17-to-17) + var(--from-6-to-17) );
}

#s18 {
  background-position-y: calc( 11.4285714286vmin + var(--from-18-to-18) );
}

#s19 {
  background-position-y: calc( 11.4285714286vmin + var(--from-19-to-19) + var(--from-1-to-19) + var(--from-46-to-19) );
}

#s20 {
  background-position-y: calc( 11.4285714286vmin + var(--from-20-to-20) + var(--from-36-to-20) );
}

#s21 {
  background-position-y: calc( 11.4285714286vmin + var(--from-21-to-21) + var(--from-22-to-21) + var(--from-25-to-21) + var(--from-33-to-21) + var(--from-39-to-21) );
}

#s22 {
  background-position-y: calc( 11.4285714286vmin + var(--from-22-to-22) + var(--from-24-to-22) + var(--from-39-to-22) );
}

#s23 {
  background-position-y: calc( 11.4285714286vmin + var(--from-23-to-23) + var(--from-32-to-23) );
}

#s24 {
  background-position-y: calc( 11.4285714286vmin + var(--from-24-to-24) + var(--from-15-to-24) );
}

#s25 {
  background-position-y: calc( 11.4285714286vmin + var(--from-25-to-25) );
}

#s26 {
  background-position-y: calc( 11.4285714286vmin + var(--from-26-to-26) + var(--from-4-to-26) + var(--from-14-to-26) + var(--from-31-to-26) + var(--from-45-to-26) + var(--from-48-to-26) + var(--from-49-to-26) );
}

#s27 {
  background-position-y: calc( 11.4285714286vmin + var(--from-27-to-27) + var(--from-9-to-27) + var(--from-13-to-27) + var(--from-37-to-27) + var(--from-42-to-27) );
}

#s28 {
  background-position-y: calc( 11.4285714286vmin + var(--from-28-to-28) + var(--from-7-to-28) + var(--from-15-to-28) + var(--from-21-to-28) + var(--from-23-to-28) + var(--from-31-to-28) + var(--from-32-to-28) + var(--from-39-to-28) );
}

#s29 {
  background-position-y: calc( 11.4285714286vmin + var(--from-29-to-29) + var(--from-3-to-29) + var(--from-5-to-29) + var(--from-12-to-29) );
}

#s30 {
  background-position-y: calc( 11.4285714286vmin + var(--from-30-to-30) + var(--from-34-to-30) );
}

#s31 {
  background-position-y: calc( 11.4285714286vmin + var(--from-31-to-31) + var(--from-17-to-31) + var(--from-23-to-31) + var(--from-35-to-31) + var(--from-42-to-31) + var(--from-43-to-31) );
}

#s32 {
  background-position-y: calc( 11.4285714286vmin + var(--from-32-to-32) + var(--from-1-to-32) + var(--from-20-to-32) + var(--from-30-to-32) + var(--from-47-to-32) );
}

#s33 {
  background-position-y: calc( 11.4285714286vmin + var(--from-33-to-33) + var(--from-29-to-33) );
}

#s34 {
  background-position-y: calc( 11.4285714286vmin + var(--from-34-to-34) + var(--from-2-to-34) + var(--from-11-to-34) + var(--from-23-to-34) + var(--from-41-to-34) );
}

#s35 {
  background-position-y: calc( 11.4285714286vmin + var(--from-35-to-35) + var(--from-16-to-35) + var(--from-20-to-35) + var(--from-40-to-35) );
}

#s36 {
  background-position-y: calc( 11.4285714286vmin + var(--from-36-to-36) + var(--from-17-to-36) + var(--from-24-to-36) );
}

#s37 {
  background-position-y: calc( 11.4285714286vmin + var(--from-37-to-37) );
}

#s38 {
  background-position-y: calc( 11.4285714286vmin + var(--from-38-to-38) );
}

#s39 {
  background-position-y: calc( 11.4285714286vmin + var(--from-39-to-39) + var(--from-13-to-39) + var(--from-38-to-39) );
}

#s40 {
  background-position-y: calc( 11.4285714286vmin + var(--from-40-to-40) + var(--from-21-to-40) + var(--from-25-to-40) + var(--from-28-to-40) + var(--from-29-to-40) );
}

#s41 {
  background-position-y: calc( 11.4285714286vmin + var(--from-41-to-41) + var(--from-4-to-41) + var(--from-35-to-41) + var(--from-37-to-41) );
}

#s42 {
  background-position-y: calc( 11.4285714286vmin + var(--from-42-to-42) + var(--from-26-to-42) + var(--from-28-to-42) + var(--from-35-to-42) );
}

#s43 {
  background-position-y: calc( 11.4285714286vmin + var(--from-43-to-43) + var(--from-14-to-43) );
}

#s44 {
  background-position-y: calc( 11.4285714286vmin + var(--from-44-to-44) + var(--from-5-to-44) + var(--from-27-to-44) + var(--from-30-to-44) );
}

#s45 {
  background-position-y: calc( 11.4285714286vmin + var(--from-45-to-45) + var(--from-6-to-45) + var(--from-7-to-45) + var(--from-21-to-45) );
}

#s46 {
  background-position-y: calc( 11.4285714286vmin + var(--from-46-to-46) + var(--from-23-to-46) );
}

#s47 {
  background-position-y: calc( 11.4285714286vmin + var(--from-47-to-47) + var(--from-10-to-47) );
}

#s48 {
  background-position-y: calc( 11.4285714286vmin + var(--from-48-to-48) + var(--from-5-to-48) + var(--from-12-to-48) + var(--from-27-to-48) + var(--from-33-to-48) );
}

#s49 {
  background-position-y: calc( 11.4285714286vmin + var(--from-49-to-49) + var(--from-12-to-49) );
}

.cell {
  max-height: 11.4285714286vmin;
  max-width: 11.4285714286vmin;
  overflow: hidden;
}
.cell-bg {
  display: block;
  position: relative;
  height: 10.2857142857vmin;
  width: 10.2857142857vmin;
  background: repeating-linear-gradient(#9E2730 0, #9E2730 11.4285714286vmin, #2F8621 11.4285714286vmin, #2F8621 22.8571428571vmin);
  background-size: 11.4285714286vmin 560vmin;
  background-position-x: 0;
}