.game-field {
  display: flex;
  width: $field-size * $cell-width + $border-width * 2;
  flex-wrap: wrap;

  @extend %border;

  &-text {
    text-align: center;
    color: white;
    font-weight: 900;
    font-size: 1.5rem;
  }

  &-color {
    color: $color-primary;
  }
}