@use "sass:math";

$cell-width: math.div(80vmin, $field-size) !default;

$cells-links: ((2)         // --from-1-to-2
                (3)        // --from-2-to-3
                (4)        // --from-3-to-4
                (1)        // --from-4-to-1
                (3, 4)
                (4, 5)
                (9, 1)
                (1, 6)
                (6, 8)) !default;

$border-width: math.div($cell-width, 20);
$border-style: solid;
$border-color: #000;

$number-of-cells: $field-size * $field-size;
